<section class="text-white bg-secondary pt-28" id="home-about">
    <div class="w-full max-w-[75%] mx-auto bg-secondary grid grid-cols-2 px-24">
        <div class="flex flex-col justify-between">
            <div >
                <h2 class="text-5xl mb-5">O nás</h2>
                <p class="text-sm w-3/4 mb-4">
                    Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je prinášať klientom
                    jednoduchú
                    cestu k peniazom. Chápeme potrebám klientov a preto im dávame na výber rýchlu možnosť požiadania o
                    pôžičku online alebo osobne u nás v centrále.
                </p>
                <p class="w-3/4 text-sm mb-4">
                    Poskytneme Vám kompletný servis od žiadosti o pôžičku až po jej schválenie.
                </p>
                <p class="text-sm mb-7">
                    Čo je pre nás dôležité?<br>
                    <span class="text-primary">Spokojný zákazníci!</span>
                </p>
            </div>
                <a href="/about" class="border-2 border-primary rounded-lg h-[45px] w-[192px] flex justify-center items-center">
                    <span>Zistiť viac</span>
                </a>
        </div>
<!--        box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.10);
border-radius: 10px;-->
        <img src="/images/aboutUs-people.png" alt="" class="max-h-[740px] w-full drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)]">
    </div>
</section>
