<section class="text-white bg-secondary pt-28 pb-28" id="home-about">
    <div class="w-full max-w-[75%] mx-auto bg-secondary grid grid-cols-10 px-24">
        <div class="flex flex-col justify-between col-span-4 ">
            <div class="pr-20">
                <h2 class="text-[4rem] mb-3">O nás</h2>
                <p class="text-sm mb-4 font-text text-[1rem]">
                    Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je prinášať klientom
                    jednoduchú
                    cestu k peniazom. Chápeme potrebám klientov a preto im dávame na výber rýchlu možnosť požiadania o
                    pôžičku online alebo osobne u nás v centrále.
                </p>
                <p class="text-sm mb-4 font-text text-[1rem]">
                    Poskytneme Vám kompletný servis od žiadosti o pôžičku až po jej schválenie.
                </p>
                <p class="text-sm mb-7 font-text text-[1rem]">
                    Čo je pre nás dôležité?<br>
                    <span class="text-primary font-bold">Spokojný zákazníci!</span>
                </p>
            </div>
                <a href="/about" class="border-2 border-primary rounded-lg h-[45px] w-[192px] flex justify-center items-center">
                    <span>Zistiť viac</span>
                </a>
        </div>
        <div class="col-span-6 flex items-center">
            <img src="/images/aboutUs-people.png" alt="" class=" w-full drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)]" loading="lazy">
        </div>

    </div>
</section>
