<section class="text-white bg-secondary md:pt-[16rem] pb-[2rem]" id="home-about">
    <div class="lg:px-[5rem] container bg-secondary md:grid grid-cols-10">
        <div id="aboutusBg" class="flex flex-col justify-between col-span-4">
            <div class="md:pr-20 px-2 md:px-0">
                <h2 class="text-[2.5rem] md:text-[4rem] mb-3 text-center md:text-left">O nás</h2>
                <p class="text-[18px] mb-[2rem] font-text text-center md:text-left">
                    Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je prinášať klientom
                    jednoduchú
                    cestu k peniazom. Chápeme potrebám klientov a preto im dávame na výber rýchlu možnosť požiadania o
                    pôžičku online alebo osobne u nás v centrále.
                </p>
                <p class="text-[18px] mb-[2rem] font-text text-center md:text-left">
                    Poskytneme Vám kompletný servis od žiadosti o pôžičku až po jej schválenie.
                </p>
                <p class="text-[18px] mb-7 font-text text-center md:text-left">
                    Čo je pre nás dôležité?<br>
                    <span class="text-primary font-bold">Spokojní zákazníci!</span>
                </p>
            </div>
            <a href="#zistit-button-receiver"
                class="border-2 border-primary rounded-lg h-[45px] w-[192px] flex justify-center items-center mx-auto md:mx-0 mb-[2rem] md:mb-0 yellow-border-button">
                <span>Zistiť viac</span>
            </a>
        </div>
        <div class="col-span-6 flex items-center">
<!--            box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.10);
border-radius: 10px;-->
            <img src="/images/aboutUs-people.png" alt="" class=" w-ful custom-shadow-10"
                loading="lazy">
        </div>
    </div>
</section>
