<section class="bg-secondary text-white">
    <div id="about-ad" class="mx-auto">
        <div class="grid grid-cols-3 gap-5">
            <div class="col-span-1 border border-primary rounded-lg flex items-center py-7 px-5">
                <img src="/images/lend-icon.svg" alt="">
                <p class="ml-5 text-sm">
                    Požiadaj o pôžičku kedykoľvek online, je to rýchle a jednoduché.
                </p>
            </div>
            <div class="col-span-1 border border-primary rounded-lg flex items-center py-7 px-5">
                <img src="/images/calc-icon.svg" alt="">
                <p class="ml-5 text-sm">
                    Vyber si požadovanú sumu v našej online kalkulačke a následne vyplň rýchly formulár.
                </p>
            </div>
            <div class="col-span-1 border border-primary rounded-lg flex items-center py-7 px-5">
                <img src="/images/cash-icon.svg" alt="">
                <p class="ml-5 text-sm">
                    Hneď po podpise zmluvy ti zašleme peniaze na účet. Zabezpečte si novú hotovosť ešte dnes!
                </p>
            </div>
        </div>
    </div>
</section>