<!--width 66% => 1260px-->

<section id="benefits-section" class="mb-36 w-full">
    <div class="mx-auto w-full max-w-[1260px]">
        <div class="flex mb-6 h-[242px]">
            <div class="w-full max-w-[20%] flex items-center justify-center ml-auto border border-primary rounded-lg bg-white text-primary transition-default hover:text-white hover:bg-primary mr-7">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline">rýchlosť</h5>
                    <p class="text-sm">
                        Peniaze odosielané účet okamžite po podpise zmluvy.
                    </p>
                </div>
            </div>
            <div class="w-full max-w-[20%] flex justify-center items-center  ml-auto border border-dRed rounded-lg bg-white text-dRed transition-default hover:text-white hover:bg-dRed mr-7">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline">flexibilita</h5>
                    <p class="text-sm">
                        Žiadosť vybavíš online alebo osobne na centrále.
                    </p>
                </div>
            </div>
            <div class="w-full max-w-[20%] flex items-center justify-center ml-auto border border-secondary rounded-lg bg-white text-secondary transition-default hover:text-white hover:bg-secondary">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline">ústretovosť</h5>
                    <p class="text-sm">
                        Náš zákazník náš pán, preto sa vždy snažíme vyhovieť požiadavkám zákazníka.
                    </p>
                </div>
            </div>
            <div class="ml-10">
                <h2 class="text-[4rem] mb-1 text-secondary font-medium">Benefity</h2>
                <p class="text-[0.85rem] text-secondary leading-relaxed">
                    Komplexné služby, maximálna bezpečnosť, flexibilita a transparentnosť. Či už ste online alebo
                    klasik,
                    bestpôžička si nájde cestu ku každému z Vás.
                </p>
            </div>
        </div>
        <div class="flex justify-end h-[242px]">
            <div class="w-full max-w-[20%] flex items-center justify-center border border-secondary rounded-lg bg-white text-secondary transition-default hover:text-white hover:bg-secondary mr-7">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline">profesionalita</h5>
                    <p class="text-sm">
                        Prácu vykonávame efektívne, zodpovedne dôsledne a s plným nasadením.
                    </p>
                </div>
            </div>
            <div class="w-full max-w-[20%] flex items-center justify-center border border-orange rounded-lg bg-white text-orange transition-default hover:text-white hover:bg-orange mr-7">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline">komplexnosť</h5>
                    <p class="text-sm">
                        Komplexné služby v sprostredkovaní finančných služieb pre našich klientov.
                    </p>
                </div>
            </div>
            <div class="w-full max-w-[20%] flex items-center justify-center border border-dRed rounded-lg bg-white text-dRed transition-default hover:text-white hover:bg-dRed">
                <div class="w-full max-w-[77%] flex flex-col">
                    <h5 class="text-[1.5rem] font-bold mb-1 inline leading-tight">bez poplatkov</h5>
                    <p class="text-sm">
                        Vybavenie, vedenie a predčasné splatenie pôžičky je úplne zadarmo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>