<div id="calc-ad" class="mx-auto bg-dRed rounded-lg w-full max-w-[75%] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.20)]">
    <div class="text-white flex items-center px-24 py-10">
        <div>
            <h3 class="text-[32px] mb-2 leading-none">Vypočítajte si výšku pôžičky </h3>
            <p class="w-7/12 text-[20px] font-medium leading-tight">
                Pôžička na všetko čo potrebuješ, vyplň online formulár za pár minút a pôžičku máš na ceste.
            </p>
        </div>
        <div class="ml-auto text-black">
            <a href="/#calculator" class="bg-primary rounded-lg h-[54px] w-[251px] flex justify-center items-center text-secondary font-bold text-[20px]">
                <span>Vypočítať</span>
            </a>
        </div>
    </div>
</div>
<!--background: #ED4036;
box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.20);
border-radius: 10px;
transform: rotate(-90deg);
border: 2px solid #FCC800;
transform: rotate(-90deg);
border: 2px solid #FCC800;-->