<div class="bg-secondary pt-[3.5rem] md:pt-16 relative">
    <section class="md:w-full lg:max-w-[1620px] md:flex md:align-middle md:mt-16 mx-[1rem] md:mx-auto mt-0">
        <div class="text-white w-full md:max-w-[66%] md:h-full bg-y-sm md:mt-16" id="heroText">
            <h1 class="hero-h1 text-[37px] md:text-[4rem] mb-6 leading-tight md:leading-none font-bold">Uzatvorte <span
                        class="text-primary">bestpôžičku rýchlo a jednoducho online </span>a
                splňte si vaše želanie!</h1>
            <h2 class="hero-h2 text-[1.5rem] md:text-3xl mb-6 leading-[27px] max-w-[220px]">Jednoducha cesta k peniazom</h2>
            <p class="md:w-2/3 mb-[2rem] font-[1rem] font-light">V bestpôžičke môžete požiadať o <span class="font-bold">pôžičky v rozmedzí od 400 do 20 000 EUR.</span>
            </p>
            <a href="/#calculator" class="text-center md:text-left flex flex-col md:block">
                Vypočítať
                <i class="fa-solid text-[1.25rem] fa-angle-down fa-1x text-dRed md:hidden"></i>
            </a>
        </div>
        <div class="mt-[-570px] translate-y-[602px] mb-[640px] w-full md:max-w-[665px] ml-auto text-secondary md:h-full md:max-h-[940px] z-40"
             id="calculator">
            <% if (!isRefinancovanie) { %>
                <form action="/calc" method="post">
                    <div class="bg-white px-[1.5rem] py-[2.5rem] md:p-12 rounded-lg default-shadow ">
                        <div class="mb-8">
                            <h3 class="mb-[1rem] text-[1.5rem] font-bold">Koľko si chcete požičať?</h3>
                            <div class="relative">
                                <input type="text" id="money_input" name="money"
                                       class="input-default placeholder-default validate"
                                       placeholder="15 000€">
                                <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                            </div>
                            <small class="text-xs text-dRed "></small>
<!--                            <input type="text" class="input-default placeholder-default validate"-->
<!--                                   placeholder="15 000€" id="money_input" name="money">-->
                            <input type="range" class="w-full styled-slider slider-progress mt-[1rem]" min="400" max="10000"
                                   value="2000" step="100" id="money_range">
                        </div>
                        <div class="mb-8">
                            <h3 class="mb-[1rem] text-[1.5rem] font-bold">Na koľko rokov?</h3>
                            <div class="relative">
                                <input type="text" id="year_input" name="years"
                                       class="input-default placeholder-default validate"
                                       placeholder="5 rokov">
                                <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                            </div>
                            <small class="text-xs text-dRed "></small>
<!--                            <input type="text" class="input-default"-->
<!--                                   placeholder="5 rokov" id="year_input" name="years">-->
                            <input type="range" class="w-full styled-slider slider-progress mt-[1rem]" min="1" max="8" value="5"
                                   id="year_range" step="1">
                        </div>
                        <hr class="mb-8">
                        <div class="flex justify-between items-center mb-5">
                            <h4 class="max-w-[160px] text-[1.25rem] font-bold">Odhadovaná mesačná suma</h4>
                            <h2 class="text-[2rem] font-bold" id="mes_sum">389€</h2>
                        </div>
                        <div>
                            <p class="font-bold text-[1.25rem]">Vybavte si rýchlu <span class="text-dRed">pôžičku</span> už
                                dnes a <span class="text-dRed">bez poplatkov</span></p>
                        </div>
                        <hr class="mt-8">
                        <div class="flex mt-[1rem] text-white">
                            <input type="hidden" name="interest" id="interest">
                            <button class="w-full bg-dRed text-center h-[3.5rem] rounded-md" type="submit" id="testButton">
                                Požiadajte o pôžičku
                            </button>
                        </div>
                        <p class="text-[0.75rem] mt-[1rem] text-black/25">
                            Reprezentatívny príklad:<br>
                            Celková výška a mena úveru (S): 2 500 €, fixná efektívna úroková sadzba: 16,56 % p. a.,
                            výška
                            mesačnej splátky: 45,27 €, počet splátok (n): 96 mesiacov. Celková čiastka: 4 345,92 €, RPMN
                            (X):
                            16,55 %
                        </p>
                    </div>
                </form>
            <% } else { %>
                    <form action="/calc" method="post">
                        <div class="bg-white p-8 md:p-12 rounded-lg default-shadow ">
                            <div class="mb-8">
                                <h3 class="mb-2 text-[2rem] font-bold">Koľko chcete refinancovať?</h3>
                                <input type="text" class="input-default"
                                       placeholder="15 000€" id="money_input" name="money">
                                <input type="range" class="w-full styled-slider slider-progress" min="400" max="20000"
                                       value="2000" step="100" id="money_range">
                            </div>
                            <div class="mb-8">
                                <h3 class="mb-2 text-[2rem] font-bold">Na koľko rokov?</h3>
                                <input type="text" class="input-default"
                                       placeholder="5 rokov" id="year_input" name="years">
                                <input type="range" class="w-full styled-slider slider-progress" min="1" max="8" value="5"
                                       id="year_range" step="1">
                            </div>
                            <hr class="mb-8">
                            <div class="flex justify-between items-center mb-5">
                                <h4 class="w-1/2 text-xl font-bold">Odhadovaná mesačná suma</h4>
                                <h2 class="text-3xl font-bold" id="mes_sum">389€</h2>
                            </div>
                            <div>
                                <p class="font-bold text-xl">Vybavte si rýchlu <span class="text-dRed">pôžičku</span> už
                                    dnes a <span class="text-dRed">bez poplatkov</span></p>
                            </div>
                            <hr class="mt-8">
                            <div class="flex mt-2 text-white">
                                <input type="hidden" name="interest" id="interest">
                                <button class="w-full bg-dRed text-center py-6 rounded-md" type="submit" id="testButton">
                                    Požiadajte o pôžičku
                                </button>
                            </div>
                            <p class="text-xs mt-3 text-black/25">
                                Reprezentatívny príklad:<br>
                                Celková výška a mena úveru (S): 2 500 €, fixná efektívna úroková sadzba: 16,56 % p. a.,
                                výška
                                mesačnej splátky: 45,27 €, počet splátok (n): 96 mesiacov. Celková čiastka: 4 345,92 €, RPMN
                                (X):
                                16,55 %
                            </p>
                        </div>
                    </form>
            <% } %>
        </div>
    </section>

    <div class="hidden md:block w-full z-10 -mt-36 bg-white">
        <div class="calculator-gray-bg">
            <section class="relative -top-20" id="card-wrapper">
                <div id="ReviewsWrapper" class="ReviewsWrapper">
                    <div id="ReviewsWrappered"></div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                            aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>


