<section class="w-full max-w-[1440px] bg-dRed mx-auto px-24 h-min py-7 rounded-lg">
    <div class="flex justify-between">
        <div class="flex flex-col w-[36%] justify-center text-white ">
            <h4 class="text-[32px] font-bold mb-2 leading-none">Potrebujete dofinancovať hypotéku</h4>
            <p class="text-[20px] font-medium leading-tight">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
            </p>
        </div>
        <div class="calcAd2-bg w-full max-w-[362px] h-[10rem]"></div>
        <div class="flex justify-end items-center w-1/4">
            <a href="" class="bg-primary rounded-lg h-[54px] w-[295px] flex justify-center items-center text-secondary font-bold text-[20px]">
                <span>Požiadať o ponuku</span>
            </a>
        </div>
    </div>
</section>