<div id="calc-ad" class="mx-auto bg-dRed rounded-lg">
    <div class="text-white flex items-center px-24 py-10">
        <div>
            <h3 class="text-2xl mb-1">Vypočítajte si výšku pôžičky </h3>
            <p class="w-3/5 text-sm">
                Pôžička na všetko čo potrebuješ, vyplň online formulár za pár minút a pôžičku máš na ceste.
            </p>
        </div>
        <div class="ml-auto text-black">
            <a href="" class="bg-primary px-14 py-2.5 rounded-md">Vypocitat</a>
        </div>
    </div>
</div>