<div class="bg-secondary pt-16 relative" id="testtt">
    <section class="w-full max-w-[88%] flex mt-16 mx-auto">
        <div class="text-white w-full max-w-[780px] h-full bg-y-sm mt-16" id="heroText">
            <h1 class="text-[65px] mb-6 leading-none font-bold">Uzatvorte <span class="text-primary">bestpôžičku rýchlo a jednoducho online </span>a
                splňte si vaše želanie!</h1>
            <h2 class="text-3xl mb-6">Jednoducha cesta k peniazom</h2>
            <p class="w-2/3 mb-4">V bestpôžičke môžete požiadať o pôžičky v rozmedzí od 400 do 20 000 EUR.</p>
            <a href="/form/step-1">Vypocitat</a>
        </div>

<!--        background: #FFFFFF;
box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.20);
border-radius: 10px;-->
        <div class=" w-full max-w-[665px] ml-auto text-secondary h-full max-h-[940px] mr-24 z-40" id="calculator">
            <form action="/calc" method="post">
                <div class=" mt-16 bg-white p-12 rounded-lg default-shadow">
                    <div class="mb-8">
                        <h3 class="mb-2 text-[2rem] font-bold">Koľko si chcete požičať?</h3>
                        <input type="text" class="px-3 py-2 border-2 border-secondary rounded-lg w-full mb-2"
                               placeholder="15 000€" id="money_input" name="money">
                        <input type="range" class="w-full styled-slider slider-progress" min="400" max="10000"
                               value="2000" step="100" id="money_range">
                    </div>
                    <div class="mb-8">
                        <h3 class="mb-2 text-[2rem] font-bold">Na koľko rokov?</h3>
                        <input type="text" class="px-3 py-2 border-2 border-secondary rounded-lg w-full mb-2"
                               placeholder="5 rokov" id="year_input" name="years">
                        <input type="range" class="w-full styled-slider slider-progress" min="1" max="8" value="5"
                               id="year_range" step="1">
                    </div>
                    <hr class="mb-8">
                    <div class="flex justify-between items-center mb-5">
                        <h4 class="w-1/2 text-xl font-bold">Odhadovaná mesačná suma</h4>
                        <h2 class="text-3xl font-bold" id="mes_sum">389€</h2>
                    </div>
                    <div class="flex justify-between">
                        <div class="flex flex-col">
                            <h6 class="text-sm">Úroková sadzba</h6>
                            <h5 id="urok_sadzba">16.56%</h5>
                        </div>
                        <div class="flex flex-col">
                            <h6 class="text-sm">Celkové naklady</h6>
                            <h5 id="celkove_naklady">6 778€</h5>
                        </div>
                        <div class="flex flex-col">
                            <h6 class="text-sm">Celková suma</h6>
                            <h5 id="celkova_suma">21 778€</h5>
                        </div>
                    </div>
                    <hr class="mt-8">
                    <div class="flex mt-2 text-white">
                        <input type="hidden" name="interest" id="interest">
                        <button class="w-full bg-dRed text-center py-6 rounded-md" type="submit" id="testButton">
                            Požiadajte o pôžičku
                        </button>
                    </div>
                    <p class="text-xs mt-3 text-black/25">
                        Reprezentatívny príklad:
                        Celková výška a mena úveru (S): 2 500 €, fixná efektívna úroková sadzba: 16,56 % p. a., výška
                        mesačnej splátky: 45,27 €, počet splátok (n): 96 mesiacov. Celková čiastka: 4 345,92 €, RPMN
                        (X):
                        16,55 %
                    </p>
                </div>
            </form>
        </div>
    </section>
<!--    background: #FFFFFF;
box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.20);
border-radius: 10px;
transform: rotate(-360deg);
border: 2px solid #FCC800;
font-family: Comfortaa-Bold;
font-size: 14px;
color: #223146;
background: #FCC800;
background: #FCC800;
background: #FCC800;
background: #FCC800;
background: #FCC800;
background: #FFFFFF;
background: #FCC800;

opacity: 0.2;
border: 1px solid #223146;
font-family: AvenirNext-Regular;
font-size: 16px;
color: #223146;
line-height: 22px;-->
    <div class="w-full z-10 -mt-36 bg-white">
        <div class="calculator-gray-bg">
            <section id="reviews-wrapper" class="z-2 relative -top-20">
                <div id="ReviewsWrapper" class="ReviewsWrapper">
                    <div id="ReviewsWrappered"></div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <div class="pb-8">
                            <div class="w-full drop-shadow-xl bg-white mr-5 rounded-lg card-bg h-min">
                                <div class="flex py-4 pl-5 items-center">
                                    <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                                    <div class="ml-5">
                                        <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                                        <h5 class="text-sm">Maria Illescas</h5>
                                    </div>
                                </div>
                                <div class="pl-5 pb-5">
                                    <hr>
                                    <div class="w-4/5">
                                        <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Maecenas
                                            varius
                                            tortor
                                            nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                            hendrerit
                                            molestie.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="/javascripts/calculator.js"></script>
<script src="/javascripts/autoReviews.js"></script>
