<div id="calc-ad" class="bg-dRed rounded-lg container drop-shadow-[9px_10px_50px_rgba(0,0,0,0.20)] pb-2">
    <div class="text-white flex flex-col md:flex-row md:items-center px-[2.5rem] md:px-24 py-[2.5rem]">
        <div class="mb-9 md:mb-0 text-center md:text-left">
            <h3 class="text-[32px] mb-5 md:mb-2 leading-tight md:leading-none">Vypočítajte si výšku pôžičky </h3>
            <p class="md:w-7/12 text-[20px] font-medium leading-tight">
                Pôžička na všetko čo potrebuješ, vyplň online formulár za pár minút a pôžičku máš na ceste.
            </p>
        </div>
        <div class="mx-auto md:mx-0 md:ml-auto text-black">
            <a href="/#calculator" class="bg-primary rounded-lg h-[54px] w-[200px] md:w-[251px] flex justify-center items-center text-secondary font-bold text-[1.25rem]">
                <span>Vypočítať</span>
            </a>
        </div>
    </div>
</div>
