<section id="contact-section">
    <div class="grid grid-cols-2">
        <div class="grid grid-cols-4">
            <div class="col-span-1" id="contact-left"></div>
            <div class="col-span-3 flex flex-col justify-center ml-10">
                <h2 class="text-5xl mb-3">Kontaktujte nás</h2>
                <h3 class="text-3xl">Pre viac informácií</h3>
                <div class="flex items-center mt-10">
                    <img src="/images/contact-call.svg" alt="" class="w-8">
                    <span class="ml-7 text-xl">+421 918 709 028</span>
                </div>
                <div class="flex items-center mt-5">
                    <img src="/images/contact-mail.svg" alt="" class="w-8">
                    <span class="ml-7 text-xl">info@bestpozicky.sk</span>
                </div>
                <div class="flex items-center mt-5">
                    <img src="/images/contact-location.svg" alt="" class="w-8">
                    <span class="ml-7 text-xl">Fejova 1, 040 01 Košice</span>
                </div>
            </div>
        </div>
        <div class="bg-secondary rounded-l-lg flex items-center" id="contact-form">
            <div class="bg-white w-2/3 ml-14 px-10 py-16 rounded-lg">
                <form action="">
                    <div class="mb-7">
                        <label for="name">Meno a priezvisko</label>
                        <input type="text" id="name" placeholder="Juraj Testulič"
                               class="rounded-lg py-2 px-4 border-2 border-secondary block w-full">
                    </div>
                    <div class="mb-7">
                        <label for="email">Email</label>
                        <input type="text" id="email" placeholder="juraj.testulic@gmail.com"
                               class="rounded-lg py-2 px-4 border-2 border-secondary block w-full">
                    </div>
                    <div class="mb-12">
                        <label for="message">Správa</label>
                        <textarea name="" id="message" class="w-full py-2 px-4 border-2 border-secondary rounded-lg"
                                  placeholder="Dobrý deň,"></textarea>
                    </div>
                    <div class="flex justify-center">
                        <button class="bg-dRed text-white px-14 py-2.5 rounded-md">Odoslať</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>