<section class="container grid grid-cols-2 lg:mb-28">
    <div class="lg:mt-[4rem] lg:pl-[4rem] border">
        <h2 class="font-medium lg:text-[4rem] lg:leading-[72px]">Kontaktujte nás</h2>
        <h3 class="lg:text-[2.5rem] lg:leading-[44px]">Pre viac informácií</h3>
        <div class="flex items-center mt-10 w-[73%] mx-auto md:w-full md:mx-0">
            <img src="/images/contact-call.svg" alt="" class="w-8 md:w-10">
            <span class="ml-4 md:ml-7 text-[1.25rem] md:text-[1.75rem] font-bold">+421 918 709 028</span>
        </div>
        <div class="flex items-center mt-5 w-[73%] mx-auto md:w-full md:mx-0">
            <img src="/images/contact-mail.svg" alt="" class="w-8 md:w-10">
            <span class="ml-4 md:ml-7 text-[1.25rem] md:text-[1.75rem] font-bold">info@bestpozicky.sk</span>
        </div>
        <div class="flex items-center mt-5 w-[73%] mx-auto md:w-full md:mx-0">
            <img src="/images/contact-location.svg" alt="" class="w-8 md:w-10">
            <span class="ml-4 md:ml-7 text-[1.25rem] md:text-[1.75rem] font-bold">Fejova 1, 040 01 Košice</span>
        </div>
    </div>
    <div class="bg-gray-400">
        <div class="bg-white w-full lg:max-w-[665px] rounded-[10px] ml-auto lg:px-16 lg:py-16">
            <form action="/form" method="post">
                <div class="mb-[1.5rem]">
                    <label for="name" class="font-bold text-[1rem] md:text-[1.25rem]">Meno a priezvisko</label>
                    <input type="text" id="name" placeholder="Juraj Testulič"
                           class="input-default" name="name">
                </div>
                <div class="mb-7">
                    <label for="email" class="font-bold text-[1rem] md:text-[1.25rem]">Email</label>
                    <input type="text" id="email" placeholder="juraj.testulic@gmail.com"
                           class="input-default" name="email">
                </div>
                <div class="mb-7">
                    <label for="phoneNumber" class="font-bold text-[1rem] md:text-[1.25rem]">Telefónne číslo</label>
                    <input type="text" id="phoneNumber" placeholder="0901 234 567"
                           class="input-default" name="phoneNumber">
                </div>
                <div class="mb-12">
                    <label for="message" class="font-bold text-[1rem] md:text-[1.25rem]">Správa</label>
                    <textarea name="message" id="message" class="input-default"
                              placeholder="Dobrý deň,"></textarea>
                </div>
                <div class="flex justify-center">
                    <button class="bg-dRed text-white rounded-lg w-[251px] h-[54px] flex items-center justify-center text-[20px] font-bold">
                        <span>Odoslať</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>