<section id="faq">
    <div class="w-full max-w-[92%] md:max-w-[75%] mx-auto md:px-24 mt-28">
        <div id="faq-header" class="flex items-center">
            <h2 class="text-center md:text-left text-[2.5rem] md:text-5xl">Často kladené otázky</h2>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl">Kde si vybavím Bestpôžičku?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] md:hover:border-2 md:hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn1">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section1">
                <hr class="my-6 w-1/2">
                <p class="text-base w-11/12 leading-relaxed">
                    O bestpôžičku môžete jednoducho požiadať na tomto webe alebo nás kontaktuj na telefónnom čísle <span
                            class="text-dRed">0944
                    766 999</span>. Najrýchlejšia cesta k novej pôžičke je online žiadosť! Samozrejme je možné si
                    o bestpôžičku
                    požiadať aj v našej centrále na adrese: Finančný dom Košice, Fejova 1, Košice.

                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Aké doklady budem potrebovať?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] md:hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn2">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section2">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    Pripravte si platný občiansky preukaz a doklad o príjme. Uvedené doklady je potrebné priložiť
                    v poslednom kroku online žiadosti.
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Koľko si môžem požičať?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] md:hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn3">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section3">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    Bestpôžička ti ponúka možnosť vybrať si pôžičku v rozmedzí od 400€ do 15000€. Pôžička nie je viazaná
                    na žiadny účel, peniaze môžete použiť na čokoľvek.
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Kam sa mám obrátiť, ak budem niečo potrebovať?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn4">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section4">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    V prípade potreby nás kontaktujte mailom na <span class="text-dRed">info@bestpozicka.sk</span> alebo
                    telefonicky na <span class="text-dRed">0944 766 999</span>.
                    Taktiež nás môžete navštíviť v centrále na adrese: Finančný dom Košice, Fejova 1, Košice
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Koľko zaplatím za vybavenie pôžičky?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn5">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section5">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    Za vybavenie pôžičky neplatíte žiadny poplatok, vybavenie pôžičky je zadarmo.
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Aké podmienky musím splniť?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn6">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section6">
                <hr class="my-6 w-1/2">
                <div class="text-base w-11/12 leading-relaxed">
                    <p class="mb-3">V deň podania žiadosti vek od 21 – 74 rokov a trvalý príjem zo zamestnania, dôchodku
                        alebo
                        podnikania.</p>
                    <p class="mb-3">Maximálny vek v čase doplatenia pôžičky je 75 rokov.</p>
                    <p class="mb-3">Zamestnanec – preukázanie trvalého príjmu.</p>
                    <p class="mb-3">Živnostník/s.r.o. – preukázanie existencie oprávnenia na podnikanie v SR minimálne
                        za obdobie 6
                        mesiacov.</p>
                    <p>Dôchodca – preukázanie príjmu na základe potvrdenia o poberaní dôchodku (akceptujeme starobný,
                        invalidný a výsluhový dôchodok).</p>
                </div>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Pracujem v zahraničí, môžem získať Bestpôžičku?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn7">
                    <i class="fa-solid fa-plus fa-2x "></i>
                </div>
            </div>
            <div class="hidden section" id="section7">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    O pôžičku je možné požiadať aj s príjmom zo zahraničia, pokiaľ ide o príjem zo závislej činnosti.
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Ako dlho trvá, kým dostanem peniaze na účet?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn8">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section8">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    Peniaze sa odosielajú na účet okamžite po podpise zmluvy. Peniaze vám pošleme na bankový účet
                    uvedený v žiadosti.
                </p>
            </div>
        </div>
        <div class="faq-container card-container">
            <div class="flex items-center">
                <p class="text-[1.125rem] md:text-2xl mr-3 md:mr-0">Môžem úver aj predčasne splatiť a za aký poplatok?</p>
                <div class="ml-auto cursor-pointer md:w-[70px] md:h-[70px] hover:border-2 hover:border-primary hover:rounded-lg hover:transition-default flex items-center justify-center btn"
                     id="btn9">
                    <i class="fa-solid fa-plus fa-2x"></i>
                </div>
            </div>
            <div class="hidden section" id="section9">
                <hr class="my-6 w-1/2">
                <p class="text-base w-4/5 leading-relaxed">
                    Pôžičku je možné kedykoľvek predčasne splatiť. Neplatíte žiadne poplatky, predčasné splatenie
                    pôžičky je úplne zadarmo.
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    let containers = document.querySelectorAll('.card-container')
    let buttons = document.querySelectorAll('.btn')
    let sections = document.querySelectorAll('.section')

    for (const container of containers) {
        let isPressed = false
        let i = container.querySelector('i')
        let button = container.querySelector('.btn')
        let section = container.querySelector('.section')

        console.log(section)
        button.addEventListener('click', () => {
            section.classList.toggle('hidden');
            isPressed = !isPressed;
        })


            container.addEventListener('mouseenter', () => {
                addClass(i, 'text-primary')
                if (i.classList.contains('fa-plus') || i.classList.contains('fa-minus')) {
                    removeClass(i, 'fa-minus')
                    removeClass(i, 'fa-plus')
                }
                removeClass(i, 'fa-plus')
                addClass(i, 'fa-angle-down')
                // removeClass(i, 'fa-plus')
                // addClass(i, 'fa-angle-down')
                // i.classList.add('text-primary')

            })
            container.addEventListener('mouseleave', () => {
                removeClass(i, 'text-primary')
                removeClass(i, 'fa-angle-down')
                if (!isPressed) {
                    addClass(i, 'fa-plus')
                } else {
                    addClass(i, 'fa-minus')
                }

                // console.log(isPressed)
                // i.classList.remove('fa-angle-down')
                // if (isPressed){
                //     addClass(i, 'fa-minus')
                // } else {
                //     removeClass(i, 'fa-minus')
                //     addClass(i, 'fa-plus')
                // }
                //
                // i.classList.remove('text-primary')
            })


    }

    let removeClass = (element, className) => {
        element.classList.remove(`${className}`)
    }
    let addClass = (element, className) => {
        element.classList.add(`${className}`)
    }

</script>