<section id="faq">
    <div class="container mx-auto">
        <div id="faq-header" class="flex items-center border border-black">
            <h2 class="text-5xl">Casto kladene otazky</h2>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Kde si vybavím Bestpôžičku?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Aké doklady budem potrebovať?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Koľko si môžem požičať?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Kam sa mám obrátiť, ak budem niečo potrebovať?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Koľko zaplatím za vybavenie pôžičky?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Aké podmienky musím splniť?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Pracujem v zahraničí, môžem získať Bestpôžičku?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg mb-8">
            <p class="text-2xl">Ako dlho trvá, kým dostanem peniaze na účet?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
        <div class="flex bg-white drop-shadow-sm px-9 py-8 rounded-lg">
            <p class="text-2xl">Môžem úver aj predčasne splatiť a za aký poplatok?</p>
            <div class="ml-auto cursor-pointer">
                <img src="/images/faq-plus.svg" alt="" class="w-6">
            </div>
        </div>
    </div>
</section>