<nav class="flex items-center justify-between">
    <div>
        <a href="/"><img src="/images/result.svg" alt="" class="w-28"></a>
    </div>
    <ul class="text-white flex text-md">
        <li class="hover:border-b border-primary"><a href="/">Pôžičky</a></li>
        <li class="ml-8 hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>
        <li class="ml-8 hover:border-b border-primary"><a href="/centrala">Centrála</a></li>
        <li class="ml-8 hover:border-b border-primary"><a href="/dofinancovanie">Dofinancovanie hypoték</a></li>
        <li class="ml-8 hover:border-b border-primary"><a href="/about">O best pôžičke</a></li>
        <li class="ml-8 hover:border-b border-primary"><a href="/contact">Kontakt</a></li>
    </ul>
    <div>
        <a href="/#calculator" class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px]">
            <span>Chcem si požičať</span>
        </a>
    </div>
</nav>