<nav class="">
    <div class="flex flex-col md:flex-row md:justify-between">
        <div class="flex justify-between items-center z-40">
            <a href="/"><img src="/images/result.svg" alt="" class="w-[5rem] inline-block md:inline" id="logo"></a>
            <button class="md:hidden nav-hamburger"><i class="fa-solid fa-bars text-white fa-2x"></i></button>
        </div>
        <div class="md:flex flex-col md:flex-row transition ease-in-out duration-200 my-auto nav-content h-full bg-secondary fixed top-0 bottom-0 left-0 right-0 bg-primary z-10 translate-x-full md:translate-x-0">
            <ul class="text-white flex flex-col items-center justify-center md:flex-row text-md mt-auto w-full max-w-[230px] md:max-w-full mx-auto md:mx-0">
                <li class="hover:border-b border-primary mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium"><a href="/">Pôžičky</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/centrala">Centrála</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/dofinancovanie">Dofinancovanie hypoték</a>
                </li>
                <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/about">O best pôžičke</a></li>
                <li class="lg:ml-8 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/contact">Kontakt</a></li>
            </ul>
            <a href="/#calculator"
               class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px] mx-auto md:mx-0 md:hidden my-[3.5rem]">
                <span>Chcem si požičať</span>
            </a>
        </div>
        <a href="/#calculator"
           class="bg-dRed text-white rounded-lg h-[54px] w-[251px] md:flex justify-center items-center font-bold text-[20px] hidden">
            <span>Chcem si požičať</span>
        </a>
    </div>
</nav>
<!--<div class="bg-primary h-screen fixed top-0 left-0 right-0 bottom-0 z-10 translate-x-full">-->
<!--    <ul class="text-white flex flex-col items-center justify-center md:flex-row text-md mt-auto w-full max-w-[230px] md:max-w-full mx-auto md:mx-0">-->
<!--        <li class="hover:border-b border-primary mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium"><a href="/">Pôžičky</a></li>-->
<!--        <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>-->
<!--        <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/centrala">Centrála</a></li>-->
<!--        <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/dofinancovanie">Dofinancovanie hypoték</a>-->
<!--        </li>-->
<!--        <li class="lg:ml-8 mb-6 md:mb-0 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/about">O best pôžičke</a></li>-->
<!--        <li class="lg:ml-8 text-center md:text-left text-[1.5rem] font-medium hover:border-b border-primary"><a href="/contact">Kontakt</a></li>-->
<!--    </ul>-->
<!--    <a href="/#calculator"-->
<!--       class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px] mx-auto md:mx-0 md:hidden my-[3.5rem]">-->
<!--        <span>Chcem si požičať</span>-->
<!--    </a>-->
<!--</div>-->

