<nav class="flex items-center">
    <div>
        <img src="/images/result.svg" alt="" class="w-28">
    </div>
    <ul class="text-white flex mx-auto text-md">
        <li class="hover:border-b border-primary"><a href="/">Pôžičky</a></li>
        <li class="ml-5 hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>
        <li class="ml-5 hover:border-b border-primary"><a href="">Centrála</a></li>
        <li class="ml-5 hover:border-b border-primary"><a href="">Dofinancovanie hypoték</a></li>
        <li class="ml-5 hover:border-b border-primary"><a href="">O best pôžičke</a></li>
        <li class="ml-5 hover:border-b border-primary"><a href="">Kontakt</a></li>
    </ul>
    <div class="ml-auto">
        <a href="" class="bg-dRed text-white py-4 px-5 rounded-lg">Chcem si požičať</a>
    </div>
</nav>