<!--<nav class="flex-col md:flex-row items-center justify-center border">-->
<!--    <div class="flex md:inline">-->
<!--        <a href="/"><img src="/images/result.svg" alt="" class="w-28 ml-auto hidden md:inline"></a>-->
<!--    </div>-->
<!--    <div class="flex-col md:flex-row">-->
<!--        <ul class="text-white flex flex-col items-center justify-center md:flex-row text-md">-->
<!--            <li class="hover:border-b border-primary"><a href="/">Pôžičky</a></li>-->
<!--            <li class="lg:ml-8 hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>-->
<!--            <li class="lg:ml-8 hover:border-b border-primary"><a href="/centrala">Centrála</a></li>-->
<!--            <li class="lg:ml-8 hover:border-b border-primary"><a href="/dofinancovanie">Dofinancovanie hypoték</a></li>-->
<!--            <li class="lg:ml-8 hover:border-b border-primary"><a href="/about">O best pôžičke</a></li>-->
<!--            <li class="lg:ml-8 hover:border-b border-primary"><a href="/contact">Kontakt</a></li>-->
<!--        </ul>-->
<!--        <div class="inline-block border">-->
<!--            <a href="/#calculator" class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px]">-->
<!--                <span>Chcem si požičať</span>-->
<!--            </a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<nav>
    <div class="flex flex-col md:flex-row h-full">
        <div class="flex justify-between items-center">
            <a href="/"><img src="/images/result.svg" alt="" class="w-28 inline-block md:inline" id="logo"></a>
            <button class="md:hidden"><i class="fa-solid fa-circle-xmark text-white fa-2x"></i></button>
        </div>
        <!--        btn toggler-->
        <div class="flex flex-col md:flex-row hidden md:flex nav-content my-auto">
            <ul class="text-white flex flex-col items-center justify-center md:flex-row text-md">
                <li class="hover:border-b border-primary mb-6 md:mb-0"><a href="/">Pôžičky</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 hover:border-b border-primary"><a href="/refinancovanie">Refinancovanie</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 hover:border-b border-primary"><a href="/centrala">Centrála</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 hover:border-b border-primary"><a href="/dofinancovanie">Dofinancovanie hypoték</a>
                </li>
                <li class="lg:ml-8 mb-6 md:mb-0 hover:border-b border-primary"><a href="/about">O best pôžičke</a></li>
                <li class="lg:ml-8 mb-6 md:mb-0 hover:border-b border-primary"><a href="/contact">Kontakt</a></li>
            </ul>
            <a href="/#calculator"
               class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px] mx-auto md:mx-0">
                <span>Chcem si požičať</span>
            </a>
        </div>
    </div>
</nav>
