<nav class="main-navbar">
    <div class="flex flex-col xl:flex-row xl:justify-between">
        <div class="flex justify-between items-center z-40">
            <a href="/"><img src="/images/result.svg" alt="" class="w-[5rem] inline-block md:inline" id="logo"></a>
            <button id="hamburgerAnim" class="hamburger xl:hidden nav-hamburger hamburger--squeeze" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
        <div
            class="xl:flex transition ease-in-out duration-200 my-auto nav-content h-full ios-min-height bg-secondary active z-99 translate-x-full xl:translate-x-0 items-end">
            <div id="mobile-nav-wrapper" class=" flex flex-col xl:flex-row h-full">
                <ul id="topNavBar"
                    class="text-white flex flex-col items-center justify-center xl:flex-row text-md mt-auto w-full max-w-[230px] xl:max-w-full mx-auto xl:mx-0">
                    <li
                        class="hover:border-b border-primary mb-6 xl:mb-0 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium">
                        <a href="/">Pôžičky</a></li>
                    <li
                        class="xl:ml-8 mb-6 xl:mb-0 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium hover:border-b border-primary">
                        <a href="/refinancovanie">Refinancovanie</a></li>
                    <li
                        class="xl:ml-8 mb-6 xl:mb-0 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium hover:border-b border-primary">
                        <a href="/centrala">Centrála</a></li>
                    <li
                        class="xl:ml-8 mb-6 xl:mb-0 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium hover:border-b border-primary">
                        <a href="/dofinancovanie">Dofinancovanie hypoték</a>
                    </li>
                    <li
                        class="xl:ml-8 mb-6 xl:mb-0 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium hover:border-b border-primary">
                        <a href="/about">O best pôžičke</a></li>
                    <li
                        class="xl:ml-8 text-center xl:text-left text-[1.5rem] xl:text-[1.25rem] font-medium hover:border-b border-primary">
                        <a href="/contact">Kontakt</a></li>
                </ul>
                <a href="/#calculator" id="pozicat-button"
                    class="bg-dRed text-white rounded-lg h-[54px] w-[251px] flex justify-center items-center font-bold text-[20px] mx-auto xl:mx-0 xl:hidden my-[3.5rem]">
                    <span>Chcem si požičať</span>
                </a>
            </div>
        </div>
        <a href="#"
            class="bg-dRed text-white rounded-lg h-[54px] w-[251px] xl:flex justify-center items-center font-bold text-[20px] hidden chcem-si-pozicat-button">
            <span>0944 766 999</span>
        </a>
    </div>
</nav>