<section id="home-card-section" class="mt-28 md:mb-[9rem]">
    <div class="w-full max-w-[92%] md:max-w-[65%] mx-auto md:grid grid-cols-2 gap-12">
        <div class="mb-[2rem] md:mb-0">
            <h2 class="text-[2.5rem] md:text-[4rem] font-medium mb-[1.5rem] md:mb-0 text-center md:text-left">Čo
                ponúkame</h2>
            <p class="font-text md:text-[1rem] text-center md:text-left">
                Bestpôžička vám pomôže získať peniaze jednoducho a rýchlo, účel použitia je už na vás! Naliehavé opravy?
                Nákup domáceho spotrebiča? Kúpa nového vozidla? Máte na výber! Žiadosť o pôžičku nebola nikdy
                jednoduchšia.
            </p>
        </div>
        <div class="bg-white drop-shadow-[9px_10px_50px_rgba(0,0,0,0.15)] offerContainer rounded-[10px] h-[290px] flex p-8 md:p-0 mb-[1.5rem] md:mb-0">
            <img src="/images/cash-bag.svg" alt="" class="w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:py-[2.5rem]">
                <div class="flex items-center">
                    <img src="/images/cash-bag.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.5rem] md:text-[2.25rem] font-bold ml-3 md:ml-0">Pôžičky</h4>
                </div>
                <p class="font-text md:text-[1rem] mt-5 md:mt-0">
                    Pôžička s pravidelnými splátkam od 400€ do 15000€. Pôžička nie je viazaná na žiadny účel, peniaze
                    môžete použiť na čokoľvek. Vybavenie a vedenie pôžičky je úplne zadarmo.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-primary md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden">
                <i class="fa-solid fa-chevron-right px-4 text-primary"></i>
            </div>
        </div>
        <div class="bg-white drop-shadow-[9px_10px_50px_rgba(0,0,0,0.15)] offerContainer rounded-[10px] h-[290px] flex p-8 md:p-0 mb-[1.5rem] md:mb-0">
            <img src="/images/house-icon.svg" alt="" class="md:w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:py-[2.5rem]">
                <div class="flex items-center">
                    <img src="/images/house-icon.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.5rem] md:text-[2.25rem] leading-none mb-3 ml-3 md:ml-0 font-bold">Dofinancovanie
                        hypotéky</h4>
                </div>
                <p class="font-text md:text-[1rem] mt-5 md:mt-0">
                    Pôžička na dofinancovanie hypotéky je riešenie ako dofinancovať klasickú hypotéku na kúpu
                    nehnuteľnosti. Maximálna výška pôžičky na dofinancovanie hypotéky je 30 000€.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-dRed md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden ">
                <i class="fa-solid fa-chevron-right px-4 text-dRed"></i>
            </div>
        </div>
        <div class="bg-white drop-shadow-[9px_10px_50px_rgba(0,0,0,0.15)] offerContainer rounded-[10px] h-[290px] flex p-8 md:p-0">
            <img src="/images/loop-icon.svg" alt="" class="w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:py-[2.5rem]">
                <div class="flex items-center">
                    <img src="/images/loop-icon.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.5rem] font-bold md:text-[2.25rem] ml-3 md:ml-0">Refinancovanie</h4>
                </div>
                <p class="font-text md:text-[1rem] mt-5 md:mt-0">
                    Refinancovanie vám pomôže zbaviť sa starých dlhov a získať hotovosť navyše až do výšky 10 000 € , je
                    už len na vás na aké dlhé obdobie si refinančný úver nastavíte.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-orange md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden ">
                <i class="fa-solid fa-chevron-right px-4 text-orange"></i>
            </div>
        </div>
    </div>
</section>

