<section id="home-card-section" class="mt-[3.5rem] md:mt-28 md:mb-[9rem]">
    <div class="container mx-auto md:grid grid-cols-2 gap-12 lg:px-[5rem]">
        <div id="offerContentWrapper" class="mb-[2rem] md:mb-0">
            <h2 class="text-[2.5rem] md:text-[4rem] font-medium mb-[1.5rem] text-center md:text-left md:mb-[1.5rem]">Čo
                ponúkame</h2>
            <p class="font-text mx-[1rem] md:mx-[0] md:text-[20px] md:leading-[30px] md:max-w-[575px] text-center md:text-left">
                Bestpôžička vám pomôže získať peniaze jednoducho a rýchlo, účel použitia je už na vás! Naliehavé opravy?
                Nákup domáceho spotrebiča? Kúpa nového vozidla? Máte na výber! Žiadosť o pôžičku nebola nikdy
                jednoduchšia.
            </p>
        </div>
        <div class="bg-white custom-shadow-15 offerContainer rounded-[10px] md:h-[290px] flex p-[1.5rem] md:p-0 mb-[1.5rem] md:mb-0">
            <img src="/images/cash-bag.svg" alt="" class="w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:flex md:flex-col md:my-auto">
                <div class="flex items-center">
                    <img src="/images/cash-bag.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.75rem] md:text-[2.25rem] font-bold ml-3 md:ml-0">Americká pôžička</h4>
                </div>
                <p class="font-text text-[1rem] md:text-[1rem] mt-5 md:mt-0">
                    Pôžička na kúpu nehnuteľnosti, rekonštrukciu domácnosti prípadne splatenie starých úverov. Až do
                    výšky 50% z hodnoty nehnuteľnosti, pri 20 ročnej splatnosti s úrokom 11,9%. Flexibilné
                    financovanie bez nutnosti otvoriť si ďalší osobný účet.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-primary md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden">
                <i class="fa-solid fa-chevron-right px-4 text-primary"></i>
            </div>
        </div>
        <div class="bg-white custom-shadow-15 offerContainer rounded-[10px] md:h-[290px] flex p-[1.5rem] md:p-0 mb-[1.5rem] md:mb-0">
            <img src="/images/house-icon.svg" alt=""
                 class="md:w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:flex md:flex-col md:my-auto">
                <div class="flex items-center">
                    <img src="/images/house-icon.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.75rem] md:text-[2.25rem] leading-none mb-3 ml-3 md:ml-0 font-bold">
                        Dofinancovanie
                        hypotéky</h4>
                </div>
                <p class="font-text md:text-[1rem] mt-5 md:mt-0">
                    Pôžička na dofinancovanie hypotéky je riešenie ako dofinancovať klasickú hypotéku na kúpu
                    nehnuteľnosti. Maximálna výška pôžičky na dofinancovanie hypotéky je do 100% hodnoty
                    nehnuteľnosti. Dofinancovanie hypotéky poskytujeme s 20-ročnou splatnosťou.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-dRed md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden ">
                <i class="fa-solid fa-chevron-right px-4 text-dRed"></i>
            </div>
        </div>
        <div class="bg-white custom-shadow-15 offerContainer rounded-[10px] md:h-[290px] flex p-[1.5rem] md:p-0">
            <img src="/images/loop-icon.svg" alt="" class="w-full md:max-w-[100px] md:mx-[2rem] hidden md:block">
            <div class="w-max md:flex md:flex-col md:my-auto">
                <div class="flex items-center">
                    <img src="/images/loop-icon.svg" alt="" class="w-full max-w-[60px] md:hidden">
                    <h4 class="text-[1.75rem] font-bold md:text-[2.25rem] md:leading-[39px] ml-3 md:ml-0">Podnikateľská
                        pôžička</h4>
                </div>
                <p class="font-text md:text-[1rem] mt-5 md:mt-[1rem] md:leading-[25px]">
                    Podnikateľská pôžička je určená pre firmy v rozmedzí od 5 000 € do 300 000 € s dobou splácania
                    od 1 do 12 mesiacov s mesačným poplatkom vo výške 1% alebo 2% z výšky pôžičky. Predčasné
                    splatenie pôžičky je možné kedykoľvek a bez poplatku.
                </p>
            </div>
            <div class="col-span-1 h-full border-2 border-orange md:flex items-center ml-6 rounded-md opacity-0 offerArrow hidden ">
                <i class="fa-solid fa-chevron-right px-4 text-orange"></i>
            </div>
        </div>
    </div>
</section>
