<section id="centrala-personal" class="flex text-secondary">
    <div id="left-personal"></div>
    <div id="personal-content">
        <div class="px-24 flex">
            <div class="w-2/5 flex flex-col justify-center">
                <h2 class="text-5xl mb-3">Personál</h2>
                <p class="text-sm w-2/3 leading-relaxed">
                    Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je
                    prinášať klientom jednoduchú cestu k peniazom. Chápeme potrebám klientov
                    a preto im dávame na výber rýchlu možnosť požiadania o pôžičku online
                    alebo osobne u nás v centrále.
                </p>
            </div>
            <div class="flex w-3/5">
                <div class="flex flex-col justify-center">
                    <img src="/images/adrian.png" alt="" class="w-[4rem]]">
                    <div class="w-1/2 mt-auto ml-5">
                        <span class="text-center text-xl">Adrián Kudláč</span>
                        <span class="text-center text-sm text-dRed">Riaditeľ centrály</span>
                    </div>
                </div>
                <div class="flex flex-col justify-end ml-12">
                    <img src="/images/anton.png" alt="" class="w-[4rem]]">
                    <div class="w-2/3 mt-16">
                        <span class="text-center text-xl">Ing. Anton Baník</span>
                        <span class="text-center text-sm text-dRed">Zástupca riaditeľa</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="right-personal"></div>
</section>