<section class="container border flex lg:px-[5rem]">
    <div class="flex flex-col lg:justify-center w-full lg:max-w-[380px]">
        <h2 class="lg:text-[4rem] font-medium lg:leading-[72px]">Personál</h2>
        <p class="lg:text-[1.25rem] font-text">
            Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je
            prinášať klientom jednoduchú cestu k peniazom. Chápeme potrebám klientov
            a preto im dávame na výber rýchlu možnosť požiadania o pôžičku online
            alebo osobne u nás v centrále.
        </p>
    </div>
    <div class="flex ml-auto">
        <div class="flex flex-col border">
            <img src="/images/people/adrian.png" alt="" class="w-full lg:max-w-[320px] mt-auto">
            <h5 class="font-bold lg:text-[1.75rem] lg:mt-10">Adrián Kudláč</h5>
            <h6 class="text-dRed lg:text-[1.125rem]">Riaditeľ centrály</h6>
        </div>
        <div class="flex flex-col lg:ml-[3rem]">
            <img src="/images/people/anton.png" alt="" class="w-full lg:max-w-[320px]">
            <h5 class="font-bold lg:text-[1.75rem] lg:mt-10">Ing. Anton Baník</h5>
            <h6 class="text-dRed lg:text-[1.125rem]">Zástupca riaditeľa</h6>
        </div>
    </div>

</section>