<section>
    <div class="w-full max-w-[92%] md:max-w-[75%] flex flex-col md:grid md:grid-cols-2 mx-auto md:px-10 mt-[10rem] md:mt-0">
        <div class="flex flex-col justify-center mb-[3rem] md:mb-0">
            <h3 class="text-center md:text-left text-[2.5rem] md:text-[4rem] font-medium mb-[1.5rem] md:mb-0">Personál</h3>
            <p class="text-center md:text-left md:w-2/3 text-[1.125rem]">
                Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je
                prinášať klientom jednoduchú cestu k peniazom. Chápeme potrebám klientov
                a preto im dávame na výber rýchlu možnosť požiadania o pôžičku online
                alebo osobne u nás v centrále.
            </p>
        </div>
        <div class="flex flex-col md:flex-row">
            <div class="flex flex-col md:mr-8 mb-[2rem] md:mb-0">
                <img src="/images/adrian.png" alt="">
                <div class="mx-auto md:mx-0 md:mt-auto">
                    <h5 class="font-bold md:text-[1.75rem]">Adrián Kudláč</h5>
                    <p class="text-dRed md:text-[1.125rem]">Riaditeľ centrály</p>
                </div>
            </div>
            <div class="flex flex-col">
                <img src="/images/anton.png" alt="" class="mb-auto">
                <div class="md:mt-8 mx-auto md:mx-0">
                    <h5 class="font-bold md:text-[1.75rem]">Ing. Anton Baník</h5>
                    <p class="text-dRed md:text-[1.125rem]">Zástupca riaditeľa</p>
                </div>
            </div>
        </div>
    </div>
</section>