<section class="md:h-full" id="personal-wrapper">
    <div class="lg:px-[5rem] container flex flex-col md:flex-row">
        <div class="flex flex-col lg:justify-center w-full lg:max-w-[380px] mb-[1.5rem] md:mb-0">
            <h2 class="text-[2.5rem] md:text-[4rem] mb-[1.5rem] md:mb-[1rem] text-center md:text-left font-medium leading-[44px] md:leading-[72px]">Personál</h2>
            <p class="text-[1.125rem] leading-[24px] md:leading-[28px] md:text-[1.25rem] font-text text-center md:text-left w-full max-w-[350px] md:max-w-full mx-auto md:mx-0">
                Máme dlhoročné skúsenosti v oblasti poskytovania úverov, našou víziou je
                prinášať klientom jednoduchú cestu k peniazom. Chápeme potrebám klientov
                a preto im dávame na výber rýchlu možnosť požiadania o pôžičku online
                alebo osobne u nás v centrále.
            </p>
        </div>
        <div class="flex flex-col md:flex-row md:ml-auto" id="contact-person">
            <div class="flex flex-col w-full max-w-[210px] md:max-w-[320px] mx-auto md:mx-0">
                <img src="/images/kontakt-kontaktujte/mobile-person1.png" alt="" class="md:hidden w-full my-[1.5rem]">
                <img src="/images/people/adrian.png" alt="" class="w-full lg:max-w-[320px] mt-auto hidden md:block">
                <h5 class="font-bold text-[1.75rem] leading-[32px] lg:mt-10">Adrián Kudláč</h5>
                <h6 class="text-dRed text-[1.125rem]">Riaditeľ centrály</h6>
            </div>
            <div class="flex flex-col w-full max-w-[210px] md:max-w-[300px] mx-auto md:mx-0 mb-[1.5rem] md:mb-0 md:ml-[5rem]">
                <img src="/images/kontakt-kontaktujte/mobile-person2.png" alt="" class="md:hidden w-full mb-[1.5rem] mt-[2rem]">
                <img src="/images/people/anton.png" alt="" class="w-full lg:max-w-[320px] hidden md:block">
                <h5 class="font-bold text-[1.5rem] lg:mt-10">Ing. Anton Banik</h5>
                <h6 class="text-dRed text-[1.125rem]">Zástupca riaditeľa</h6>
            </div>
        </div>
    </div>

</section>