<section id="productsWrapper" class="my-[4.5rem] md:my-[7rem]">
    <div class="container flex flex-col md:grid grid-cols-3 md:h-[268px]">
        <div id="productsBgTwo" class="flex md:order-1">
            <div id="productsBg" class="flex justify-around w-full max-w-[240px] md:max-w-full">
                <img src="/images/zine-euro.svg" alt="" class="w-full max-w-[70px] md:max-w-full lg:mr-20">
                <img src="/images/ahoj.svg" alt="" class="max-w-[100px] md:max-w-full lg:mr-20">
            </div>
            <!-- <div class="border w-max md:order-3 md:hidden">ddd</div> -->
        </div>
        <div class="text-[2.5rem] leading-[44px] lg:leading-[72px] font-medium lg:text-[4rem] flex order-first mb-[1.5rem] md:mb-0 md:order-2">
            <h3 class="my-auto mx-auto pb-[1rem]">Produkty</h3>
        </div>
        <div class=" md:order-3 hidden md:block">
            <!-- ddd -->
        </div>
    </div>
</section>
