<section id="products-section">
    <div class="grid grid-cols-5">
        <div class="col-span-2 drop-shadow-lg bg-white flex justify-end py-20">
            <img src="/images/zine-euro.svg" alt="" id="zine" class="mr-20">
            <img src="/images/ahoj.svg" alt="" class="w-1/4 mr-20">
        </div>
        <div class="col-span-1 mx-auto flex items-center py-20">
            <h2 class="text-5xl">Produkty</h2>
        </div>
        <div class="col-span-2 products-bg"></div>
    </div>
</section>