<section class="mb-28">
    <div class="h-[760px] w-full max-w-[92%] md:max-w-[75%] mx-auto grid grid-cols-2 relative">
        <div class="flex">
            <div class="md:w-2/5 my-auto md:ml-24">
                <h3 class="font-medium md:text-[4rem]">Recenzie</h3>
                <p class="md:text-[1.5rem] font-text"><span class="font-semibold">Viac ako 1000</span> spokojných klientov, <span class="text-dRed font-semibold">čo o nás hovoria?</span></p>
            </div>
        </div>
        <div class="relative">
            <div class="relative">
                <div class="w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min ml-auto relative -top-14 z-40">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute bottom-0 left-0">
                <div class="w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min relative top-12 -left-36">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min relative left-12">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>