<section class="mb-[3.5rem] md:mb-28">
    <div class="md:h-[760px] border container md:grid grid-cols-2 relative">
        <div class="flex mb-[4.5rem] md:mb-0">
            <div class="mx-auto md:mx-0 md:w-2/5 my-auto md:ml-[5rem]">
                <h3 class="text-[2.5rem] text-center md:text-left font-medium md:text-[4rem] mb-[1.5rem] md:mb-0">Recenzie</h3>
                <p class="text-[18px] md:text-[1.5rem] font-text text-center md:text-left w-2/3 md:w-full mx-auto md:mx-0"><span class="font-semibold">Viac ako 1000</span> spokojných klientov, <span class="text-dRed font-semibold">čo o nás hovoria?</span></p>
            </div>
        </div>
        <div id="reviewsQuote" class="md:relative">
            <div class="md:absolute md:top-0 md:left-0">
                <div class="md:w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.20)] bg-white rounded-[10px] card-bg h-min md:relative md:top-0 md:-left-20 mb-[1rem] md:mb-0">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min md:relative left-36 -top-20 mb-[1rem] md:mb-0 z-10">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden md:block md:absolute md:bottom-0 md:left-0">
                <div class="md:w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min md:relative md:top-20 md:-left-52 mb-[1rem] md:mb-0">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="md:w-[400px] h-[250px] drop-shadow-[9px_10px_50px_rgba(0,0,0,0.10)] bg-white rounded-[10px] card-bg h-min md:relative left-12 mb-[1rem] md:mb-0">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-[0.875rem] font-bold">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-[90%]">
                            <p class="text-[1rem] mt-2 font-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum
                                aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>