<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/849a1df6c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/css/rangeInput.css">

</head>
<body class="font-body text-secondary">
<div class="bg-secondary">
    <header class="w-full pt-6 md:pt-16 max-w-[92%] lg:max-w-[1620px] mx-auto">
        <%- include('../partials/navbar')%>
    </header>
</div>
<!--Content from other .ejs files-->
<%- body %>
<%- include('../partials/footer')%>
<!--<script src="/javascripts/calculator.js"></script>-->
</body>
<script>
    const body = document.querySelector('body');
    const html = document.querySelector('html');
    const nav = document.querySelector('nav')
    const content = document.querySelector('.nav-content');
    const logo = document.querySelector('#logo');
    const button = document.querySelectorAll('.btn');

    // let isClicked = false;
    // icon.addEventListener('click', () => {
    //     isClicked = !isClicked;
    //     if (isClicked) {
    //         icon.classList.add('fa-x')
    //         icon.classList.remove('fa-bars')
    //     } else {
    //         icon.classList.remove('fa-x')
    //         icon.classList.add('fa-bars')
    //     }
    for (const buttonElement of button) {
        buttonElement.addEventListener('click', () => {
            content.classList.toggle('invisible')
            content.classList.toggle('translate-x-full')
            content.classList.add('transition')
            content.classList.add('ease-in-out')
            content.classList.add('duration-200')
            console.log('hehe')
            nav.classList.toggle('h-screen')
            body.classList.toggle('overflow-y-hidden')
            html.classList.toggle('overflow-y-hidden')
        })
    }


        // logo.classList.toggle('opacity-0')
        // nav.classList.toggle('h-screen')
        // content.classList.toggle('hidden')
        // body.classList.toggle("overflow-y-hidden")
        // html.classList.toggle('overflow-y-hidden')

</script>
</html>
