<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formular</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.11/flatpickr.min.css">
    <script src="https://kit.fontawesome.com/849a1df6c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/dropdown.min.css">
    <link rel="stylesheet" href="/transition.min.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/test.css">
    <link rel="stylesheet" href="/stylesheets/css/customSelect.css">
    <link rel="stylesheet" href="/stylesheets/css/customRadio.css">
</head>
<body class="font-body h-screen bg-secondary flex flex-col">
<header class="w-full max-w-[92%] lg:max-w-[1620px] mx-auto">
    <div class="md:pt-[5rem]">
        <nav id="topFormNav" class="flex flex-col md:flex-row md:items-center md:h-[64px] pt-6 md:pt-0">
            <div class="flex justify-between items-center">
                <a href="/"><img src="/images/result.svg" alt="" class="w-[80px] md:w-28"></a>
                <div class="h-[46px] w-[46px] rounded-[8px] border-2 border-primary md:hidden flex items-center justify-center">
                    <img src="/images/icons/call-incoming.svg" alt="" class="w-full max-w-[20px]">
                </div>
            </div>
            <ul class="text-white flex mx-auto justify-between text-md w-full md:max-w-[30%] md:max-w-full my-[2rem] md:my-0">
                <% if(step === 5){ %>
                    <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 1.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 2.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 3.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 4.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 5.
                    </li>
                <% } %>
                <% if (step === 4) { %>
                    <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 1.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 2.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 3.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 4.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 5.
                    </li>
                <% } %>
                <% if (step === 3) { %>
                    <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 1.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 2.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 3.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px] ">
                        Krok 4.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 5.
                    </li>
                <% } %>
                <% if (step === 2){ %>
                    <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 1.
                    </li>
                    <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 2.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 3.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 4.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 5.
                    </li>

                <% } %>
                <% if (step === 1){ %>
                    <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 1.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 2.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 3.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 4.
                    </li>
                    <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">
                        Krok 5.
                    </li>
                <% } %>
            </ul>
            <div class="w-[251px] h-[54px] border-2 border-primary rounded-lg md:flex items-center justify-center text-white text-[20px] font-bold hidden">
                0944 766 999
            </div>
        </nav>
    </div>

</header>
<div class="w-full max-w-[92%] lg:max-w-[1620px] mx-auto my-auto form-wrapper">
    <%- body %>
</div>

<script src="/javascripts/back.js"></script>
<script src="/transition.min.js"></script>
<script src="/dropdown.min.js"></script>
<script src="/javascripts/customDropdown.js"></script>
<script src="/javascripts/validator.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="/javascripts/flatpickr.js"></script>
<script src="/javascripts/formBottomNav.js"></script>
<script src="/javascripts/radioGroup.js"></script>
<script src="/javascripts/handleFileInputs.js"></script>
</body>
</html>
