<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Formular</title>
    <link rel="shortcut icon" href="#">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/849a1df6c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/css/checkboxStyle.css">

</head>
<body class="font-body h-screen bg-secondary flex flex-col">
<header class="w-full max-w-[92%] lg:max-w-[1620px] mx-auto pt-16">
    <nav class="flex flex-col md:flex-row md:items-center">
        <div class="flex justify-between items-center">
            <a href="/"><img src="/images/result.svg" alt="" class="w-[80px] md:w-28"></a>
            <div class="h-[46px] w-[46px] rounded-[8px] border-2 border-primary md:hidden flex items-center justify-center">
                <img src="/images/icons/call-incoming.svg" alt="" class="w-full max-w-[20px]">
            </div>
        </div>
        <ul class="text-white flex mx-auto md:justify-between text-md w-full max-w-[80%] md:max-w-[30%] md:max-w-full my-[2rem] md:my-0">
            <% if (step === 4) { %>
                <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 1.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 2.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 3.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 4.</li>
            <% } %>
            <% if (step === 3) { %>
                <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 1.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 2.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 3.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px] ">Krok 4.</li>
            <% } %>
            <% if (step === 2){ %>
                <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 1.</li>
                <li class="border-b-2 border-primary ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 2.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 3.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 4.</li>
            <% } %>
            <% if (step === 1){ %>
                <li class="border-b-2 border-primary md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 1.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 2.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 3.</li>
                <li class="border-b-2 border-white/20 ml-4 md:ml-12 md:w-[77px] md:text-center md:pb-[0.2rem] md:leading-[23px]">Krok 4.</li>
            <% } %>
        </ul>
        <div class="w-[251px] h-[54px] border-2 border-primary rounded-lg md:flex items-center justify-center text-white text-[20px] font-bold hidden">
            0944 766 999
        </div>
    </nav>
</header>
<div class="w-full max-w-[92%] lg:max-w-[1620px] mx-auto my-auto">
    <%- body %>
</div>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('#businessSince', {})
</script>
</body>
</html>