<% layout('./layouts/boilerplate') %>
<section class="bg-secondary mb-28" id="centrala-top">
    <div class="mx-auto w-4/5 pt-16">
        <div class="grid grid-cols-7 text-white  pb-24 ">
            <div class="col-span-3">
                <div class="mb-8">
                    <h4 class="text-lg mb-6">Sídlime v lokalite:</h4>
                    <div class="w-1/2 mb-6">
                        <h2 class="text-5xl">Finančný dom <span class="text-primary">Košice</span></h2>
                    </div>
                    <div class="w-2/3">
                        <p>Ak preferujete osobný kontakt, pre Vás všetkých je tu naša centrála v Košiciach.</p>
                    </div>
                </div>
                <div id="centrala-top-bg1"></div>
            </div>
            <div class="col-span-4">
                <div id="centrala-top-bg2" class="flex items-center">
                    <div>
                        <img src="/images/centrala-top-img.png" alt="" class="drop-shadow-lg">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="centrala-description">
    <div class="grid grid-cols-6 flex items-center">
        <div class="col-span-2">
            <div class="grid grid-cols-2 flex items-center">
                <div id="centrala-descrpition-bg1" class="h-[15rem]"></div>
                <div>
                    <h3 class="text-5xl mb-6">Centrala</h3>
                    <p class="w-11/12">
                        Nadštandardná forma starostlivosti. Náš tím expertov je vám k dispozícii v pracovné dni od 8:00
                        do 17:00. Poskytneme Vám kompletný servis od žiadosti o pôžičku až po jej schválenie. Čo je pre
                        nás dôležité? Spokojný zákazníci!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-span-4">
            <div id="centrala-description-bg2">
                <div>
                    <img src="/images/centrala-img1.png" alt="" class="w-[25rem] drop-shadow-md relative left-24">
                </div>
            </div>
        </div>
    </div>
</section>
<section id="centrala-location">
    <div class="flex justify-end py-32 text-secondary">
        <div class="grid grid-cols-7 bg-white p-16 gap-12 mr-60 rounded-lg">
            <div class="col-span-5">
                <h3 class="text-5xl mb-1">Navštívte nás</h3>
                <h4 class="text-3xl mb-6">Pre viac informacii</h4>
                <div class="flex items-center mb-5">
                    <img src="/images/contact-location.svg" alt="" class="w-[2rem]">
                    <span class="ml-5 text-lg">Fejova 1, 040 01 Košice</span>
                </div>
                <div class="flex items-center">
                    <img src="/images/clock-icon.svg" alt="" class="w-[2rem]">
                    <span class="ml-5 text-lg">Pondelok - Piatok, 8:00 - 17:00</span>
                </div>
            </div>
            <div id="map-card-bg" class="col-span-2"></div>
        </div>
    </div>
</section>
<%- include('./partials/personal')%>
<section id="centrala-contact">
    <div id="centrala-contact-content" class="grid grid-cols-5 bg-white mx-auto p-24 rounded-lg drop-shadow-xl">
        <div class="col-span-2">
            <h2 class="text-6xl mb-4">Kontaktujte nás</h2>
            <p>V pracovné dni od 8:00 do 17:00</p>
        </div>
        <div class="col-span-2 mx-auto">
            <div class="flex items-center mt-10">
                <img src="/images/contact-call.svg" alt="" class="w-8">
                <span class="ml-7 text-xl">+421 918 709 028</span>
            </div>
            <div class="flex items-center mt-5">
                <img src="/images/contact-mail.svg" alt="" class="w-8">
                <span class="ml-7 text-xl">info@bestpozicky.sk</span>
            </div>
            <div class="flex items-center mt-5">
                <img src="/images/contact-location.svg" alt="" class="w-8">
                <span class="ml-7 text-xl">Fejova 1, 040 01 Kosice</span>
            </div>
        </div>
        <div class="col-span-1" id="contact-right"></div>
    </div>
</section>