<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/output.css">
</head>
<body>
<section id="reviews-wrapper">
    <div id="ReviewsWrapper" class="ReviewsWrapper">
        <div id="ReviewsWrappered"></div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review">
            <div class="pb-8">
                <div class="w-full drop-shadow-md bg-white mr-5 rounded-lg card-bg h-min">
                    <div class="flex py-4 pl-5 items-center">
                        <img src="/images/prof-pic-home.svg" alt="" class="w-12">
                        <div class="ml-5">
                            <img src="/images/star-rating.svg" alt="" class="w-[8rem]">
                            <h5 class="text-sm">Maria Illescas</h5>
                        </div>
                    </div>
                    <div class="pl-5 pb-5">
                        <hr>
                        <div class="w-4/5">
                            <p class="text-xs mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                varius
                                tortor
                                nibh, sit amet tempor nibh finibus et. Aenean eu enim justo. Vestibulum aliquam
                                hendrerit
                                molestie.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium commodi cupiditate eligendi exercitationem
        facilis fuga hic magni mollitia, nemo non numquam provident, quidem sed vel veritatis vitae voluptas. Ducimus,
        ratione.</p>
</section>
<script>
    if (document.getElementById('ReviewsWrapper')) {
        const flavoursContainer = document.getElementById('ReviewsWrapper');
        const flavoursScrollWidth = flavoursContainer.scrollWidth;

        window.addEventListener('load', () => {

            function reviewTimer() {
                // clearInterval(interval)
                interval = self.setInterval(() => {
                    const first = document.querySelector('#ReviewsWrapper div');

                    if (!isElementInViewport(first)) {
                        flavoursContainer.appendChild(first);
                        flavoursContainer.scrollTo(flavoursContainer.scrollLeft - first.offsetWidth, 0);
                    }
                    if (flavoursContainer.scrollLeft !== flavoursScrollWidth) {
                        flavoursContainer.scrollTo(flavoursContainer.scrollLeft + 1, 0);
                    }
                }, 10);
            }

            flavoursContainer.addEventListener("mouseleave", function (event) {
                function reviewTimer() {
                    clearInterval(interval)
                    interval = self.setInterval(() => {
                        const first = document.querySelector('#ReviewsWrapper div');

                        if (!isElementInViewport(first)) {
                            flavoursContainer.appendChild(first);
                            flavoursContainer.scrollTo(flavoursContainer.scrollLeft - first.offsetWidth, 0);
                        }
                        if (flavoursContainer.scrollLeft !== flavoursScrollWidth) {
                            flavoursContainer.scrollTo(flavoursContainer.scrollLeft + 1, 0);
                        }
                    }, 10);
                }

                reviewTimer()
            }, false);
            flavoursContainer.addEventListener("mouseover", function (event) {
                function reviewTimer() {
                    clearInterval(interval)
                    interval = self.setInterval(() => {
                        const first = document.querySelector('#ReviewsWrapper div');

                        if (!isElementInViewport(first)) {
                            flavoursContainer.appendChild(first);
                            flavoursContainer.scrollTo(flavoursContainer.scrollLeft - first.offsetWidth, 0);
                        }
                        if (flavoursContainer.scrollLeft !== flavoursScrollWidth) {
                            flavoursContainer.scrollTo(flavoursContainer.scrollLeft + 1, 0);
                        }
                    }, 10000000);
                }

                reviewTimer()
            }, false);

            reviewTimer()

        });

        function isElementInViewport(el) {
            var rect = el.getBoundingClientRect();
            return rect.right > 0;
        }
    }
</script>
</body>
</html>