<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
    <link rel="stylesheet" href="/stylesheets/css/test.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/css/test.css">
</head>
<body>
<!--<div id="centrala-gallery-wrapper" class="mt-[20rem]">-->
<!--    <section class="container mb-[3.5rem] md:my-28 flex flex-col md:flex-row md:justify-between mt-[3.5rem] md:mt-0" >-->
<!--        <div class="flex flex-col md:max-w-[325px] md:justify-center md:ml-[5rem] mb-[2.5rem] md:mb-0">-->
<!--            <h2 class="text-center md:text-left text-[2.5rem] leading-[44px] mt-[6rem] md:mt-0 md:text-[4rem] font-medium mb-[1.5rem] md:mb-0">Centrála</h2>-->
<!--            <p class="text-[1.125rem] text-center md:text-left font-text md:leading-[28px] md:text-[1.25rem] mr-5">-->
<!--                Nadštandardná forma starostlivosti. Náš tím expertov je vám k dispozícii <span class="font-bold">v pracovné dni od 8:00 do 17:00.</span>-->
<!--                Poskytneme Vám kompletný servis od žiadosti o pôžičku až po jej schválenie. Čo je pre nás dôležité? Spokojný-->
<!--                zákazníci!-->
<!--            </p>-->
<!--        </div>-->
<!--        <img src="/images/centrala-gallery/img1.png" alt="" class="mb-[2rem] md:mb-0">-->
<!--        <img src="/images/centrala-gallery/img2.png" alt="">-->
<!--        <div class="swiper hidden md:block">-->
<!--            &lt;!&ndash; Additional required wrapper &ndash;&gt;-->
<!--            <div class="swiper-wrapper">-->
<!--                &lt;!&ndash; Slides &ndash;&gt;-->
<!--                <div class="swiper-slide">Slide 1</div>-->
<!--                <div class="swiper-slide">Slide 2</div>-->
<!--                <div class="swiper-slide">Slide 3</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; If we need pagination &ndash;&gt;-->
<!--            <div class="swiper-pagination"></div>-->

<!--            &lt;!&ndash; If we need navigation buttons &ndash;&gt;-->
<!--            <div class="swiper-button-prev"></div>-->
<!--            <div class="swiper-button-next"></div>-->

<!--            &lt;!&ndash; If we need scrollbar &ndash;&gt;-->
<!--            <div class="swiper-scrollbar"></div>-->
<!--        </div>-->
<!--    </section>-->
<!--</div>-->

<div class="grid grid-cols-2">
    <div class="bg-gray-400 flex flex-col relative">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci architecto, aut cum dolorem id labore
        molestias necessitatibus nostrum provident quia repudiandae sed soluta! Accusantium consequuntur dolor eius eum
        fuga veritatis!
        <div class="flex">
            <div class="swiper-pagination"></div>
            <div class="border h-[30px] flex">
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>


    </div>
    <div>
        <div class="swiper hidden md:block h-[20rem]">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide"><img src="/images/centrala-gallery/img1.png" alt=""></div>
                <div class="swiper-slide"><img src="/images/centrala-gallery/img2.png" alt=""></div>
                <div class="swiper-slide"><img src="/images/centrala-gallery/img1.png" alt=""></div>
                <div class="swiper-slide"><img src="/images/centrala-gallery/img2.png" alt=""></div>
                <div class="swiper-slide"><img src="/images/centrala-gallery/img1.png" alt=""></div>
                <div class="swiper-slide"><img src="/images/centrala-gallery/img2.png" alt=""></div>
            </div>
            <!-- If we need pagination -->


            <!-- If we need navigation buttons -->


            <!-- If we need scrollbar -->
        </div>
    </div>
</div>



<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<script src="/javascripts/swiper.js"></script>
<script>
    $('.ui.dropdown').dropdown()
</script>
</body>
</html>