<div class="absolute bottom-[0.7rem] md:left-0 flex items-center back">
    <i class="fa-solid fa-arrow-left text-secondary/70 text-[1.25rem]"></i>
    <span class="text-secondary/70 text-[1rem] ml-[0.5rem]">Späť</span>
</div>
