<p class="label-default mb-2">Aký bol tvôj čistý príjem za posledné 3 mesiace</p>
<div class="md:grid md:grid-cols-9 md:gap-4 mb-[2.25rem]">
    <div class="col-span-3 flex md:flex-col mb-3 md:mb-0">
        <label for="firstMonth" class="md:block text-[0.8rem] font-bold md:text-xs md:mb-1 border-2 border-secondary border-r-0 md:border-0 flex rounded-l-[10px] "><span class="px-3 md:px-0 my-auto md:my-0 border-r border-secondary md:border-0"> 1.mesiac</span></label>
        <div class="relative">
            <input type="text" id="firstMonth" name="firstMonth"
                   class="num-only border-2 border-l-0 md:border-l-2 border-secondary hover:border-primary w-full rounded-r-[10px] md:rounded-[10px] focus:border-primary focus:ring-0 focus:drop-shadow-md  placeholder-default validate"
                   placeholder="1200€">
            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
        </div>
        <small class="text-xs text-dRed "></small>
    </div>
    <div class="col-span-3 flex md:flex-col mb-3 md:mb-0">
        <label for="secondMonth" class="md:block text-[0.8rem] font-bold md:text-xs md:mb-1 border-2 border-secondary border-r-0 md:border-0 flex rounded-l-[10px] "><span class="px-3 md:px-0 my-auto md:my-0 border-r border-secondary md:border-0"> 2.mesiac</span></label>
        <div class="relative">
            <input type="text" id="secondMonth" name="secondMonth"
                   class="num-only border-2 border-l-0 md:border-l-2 border-secondary hover:border-primary w-full rounded-r-[10px] md:rounded-[10px] focus:border-primary focus:ring-0 focus:drop-shadow-md  placeholder-default validate"
                   placeholder="1200€">
            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
        </div>
        <small class="text-xs text-dRed "></small>
    </div>
    <div class="col-span-3 flex md:flex-col">
        <label for="thirdMonth" class="md:block text-[0.8rem] font-bold md:text-xs md:mb-1 border-2 border-secondary border-r-0 md:border-0 flex rounded-l-[10px] "><span class="px-3 md:px-0 my-auto md:my-0 border-r border-secondary md:border-0"> 3.mesiac</span></label>
        <div class="relative">
            <input type="text" id="thirdMonth" name="thirdMonth"
                   class="num-only border-2 border-l-0 md:border-l-2 border-secondary hover:border-primary w-full rounded-r-[10px] md:rounded-[10px] focus:border-primary focus:ring-0 focus:drop-shadow-md  placeholder-default validate"
                   placeholder="1200€">
            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
        </div>
        <small class="text-xs text-dRed "></small>
    </div>
</div>
