<section id="step1-body" class="pb-[4.5rem] md:pb-0 form-container md:my-[7rem]">
    <div class="md:w-1/5">
        <p class="form-label">Vyplnenie údajov vám zaberie <span
                    class="text-primary font-medium">menej než 6min</span></p>
        <div class="flex md:hidden text-white items-end font-light justify-center mb-[2rem]">
            <p class="md:hidden leading-none">Vyplnenie formuláru zaberie</p>
            <img src="/images/clock.svg" alt="" class="w-5 mx-2" id="test">
            <p class="text-primary leading-none">6min</p>
        </div>
    </div>
    <div class="md:grid md:grid-cols-2 md:gap-24 step2-bg">
        <div class="bg-white p-6 md:p-0 rounded-[10px] md:max-w-[665px] md:h-[950px] md:flex md:items-center md:justify-center">
            <form action="/form/step-2" method="post" class="ring-0 form md:w-full md:max-w-[550px]">
                <div class="mb-6 md:mb-[2.25rem]">
                    <label for="companyName" class="label-default">Názov spoločnosti</label>
                    <div class="relative">
                        <input type="text" id="companyName" class="input-default placeholder-default validate"
                               placeholder="Firma, s.r.o." name="companyName">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6 md:mb-[2.25rem]">
                    <label for="ico" class="label-default">IČO</label>
                    <div class="relative">
                        <input type="text" id="ico" class="input-default placeholder-default validate num-only"
                               placeholder="58456734" name="ico">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6 md:mb-[2.25rem]">
                    <label for="companyStreet" class="label-default">Ulica a popisné číslo</label>
                    <div class="relative">
                        <input type="text" id="companyStreet" class="input-default placeholder-default validate"
                               placeholder="Štúrová 226" name="companyStreet">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="grid grid-cols-7 gap-3 md:gap-4">
                    <div class="mb-6 md:mb-[2.25rem] col-span-4 md:col-span-5">
                        <label for="city" class="label-default">Obec</label>
                        <div class="relative">
                            <input type="text" id="city" name="city" class="input-default placeholder-default validate"
                                   placeholder="Bratislava">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed "></small>
                    </div>
                    <div class="col-span-3 md:col-span-2">
                        <label for="psc" class="label-default">PSČ<span
                                    class="text-[0.625rem] my-auto text-secondary/50 md:leading-[20px] ml-1">- Nepovinné</span></label>
                        <div class="relative">
                            <input type="text" id="psc" name="psc" class="input-default placeholder-default num-only"
                                   placeholder="851 01">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed "></small>
                    </div>
                </div>
                <div class="mb-6 md:mb-[2.25rem]">
                    <label for="businessSince" class="label-default">Podnikám od<span
                                class="text-[0.625rem] my-auto text-secondary/50 md:leading-[20px] ml-1">- Nepovinné</span></label>
                    <div class="relative">
                        <input type="text" id="businessSince"
                               class="input-default w-[55%] md:w-1/3 placeholder-default pl-[2rem] calendar"
                               placeholder="01/2021" name="businessSince">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>

                <%- include('last-three-months.ejs') %>

                <%- include('other-income.ejs') %>

                <button class="md:mt-[2.5rem] submit-button border-2 border-dRed rounded-lg text-black/50 w-full max-w-[149px] md:max-w-[175px] h-[48px] md:h-[54px] flex items-center justify-center text-[1.125rem] md:text-[20px] font-bold mx-auto md:mx-0 default-transition">
                    <span>Ďalej </span>
                </button>
            </form>
        </div>
        <%- include('step2-bottomNav.ejs') %>
    </div>
</section>
