<section class="my-auto pb-[4.5rem] md:pb-0 md:my-[5rem] form-container">
    <div class="md:w-1/5">
        <p class="form-label">Vyplnenie údajov vám zaberie <span
                    class="text-primary font-medium">menej než 6min</span></p>
        <div class="flex md:hidden text-white items-end font-light justify-center mb-[2rem]">
            <p class="md:hidden leading-none">Vyplnenie formuláru zaberie</p>
            <img src="/images/clock.svg" alt="" class="w-5 mx-2">
            <p class="text-primary leading-none">6min</p>
        </div>
    </div>
    <div class="md:grid md:grid-cols-2 md:gap-24 step2-bg">
        <div class="bg-white px-6 py-[3rem] md:px-0 md:py-[4rem] rounded-lg h-min w-full md:max-w-[665px] md:flex md:justify-center">
            <form action="/form/step-2" method="post" class="form w-full md:max-w-[550px] relative">
                <%- include('./back-arrow') %>
                <%- include('last-three-months.ejs') %>

                <%- include('other-income.ejs') %>

                <button class="md:ml-[6rem] mt-[2.5rexm] submit-button border-2 border-dRed rounded-lg text-black/50 w-full max-w-[149px] md:max-w-[175px] h-[48px] md:h-[54px] flex items-center justify-center text-[1.125rem] md:text-[20px] font-bold mx-auto md:mx-0 default-transition">
                    <span>Ďalej </span>
                </button>
            </form>
        </div>
        <div class="md:h-[950px]">
            <%- include('step2-bottomNav.ejs') %>
        </div>
    </div>
</section>
