<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Požiadavka prijatá - Best Pôžička</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <script src="https://kit.fontawesome.com/849a1df6c9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
</head>
<body class="bg-secondary font-body h-screen flex flex-col">
<header class="w-full max-w-[92%] md:max-w-[88%] mx-auto mt-[12%] md:mt-0 md:py-16">
    <nav class="flex items-center">
        <div>
            <img src="/images/result.svg" alt="" class="w-28">
        </div>
        <div class="ml-auto ">
            <a href="/" class="bg-dRed text-white py-3 px-8 rounded-lg hidden md:block">Späť na stránku</a>
            <a href="/"><i class="fa-solid fa-house fa-2x md:hidden border-2 border-dRed text-white rounded-lg p-2"></i></a>
        </div>
    </nav>
</header>
<main id="form-success" class="flex md:my-auto w-full max-w-[92%] md:max-w-full mx-auto md:mx-0 md:h-[60%] flex flex-col md:flex-row">
    <div class="bg-y hidden md:block"></div>
    <div class="mx-auto md:mx-0 md:ml-auto content flex items-center text-white">
        <div class="flex items-center w-full">
            <div class="md:w-7/12 h-min">
                <h2 class="text-[2.3rem] md:text-5xl leading-tight text-center md:text-left mt-[4rem] pb-[4rem] md:pb-0 md:border-0 md:mb-4 md:mt-0 border-b-2 "><span class="text-primary">Skvelé!</span> Tvoja žiadosť bola odoslaná na posúdenie.</h2>
                <p class="text-[1.3rem] text-center md:text-left text-xl w-[95%] md:w-1/2 font-light my-[2rem] md:my-0 mx-auto md:mx-0">Ihneď po schálení žiadosti ťa budeme kontaktovať telefonicky.</p>
            </div>
            <div class="hidden md:block bg-g h-[20rem] w-5/12">
            </div>
        </div>
    </div>
    <div class="md:hidden flex h-[13.75rem] w-full items-center bg-[url('/images/mobile/form-success-background.svg')] bg-contain bg-no-repeat bg-center">
        <a href="/" class="h-[3.125rem] w-full  max-w-[10.5rem] border-2 border-dRed mx-auto flex items-center justify-center rounded-[10px] text-white">
            <span>Späť na stránku</span>
        </a>
    </div>
</main>
</body>
</html>
