<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dakujeme</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/output.css">
    <link rel="stylesheet" href="/stylesheets/css/custom.css">
</head>
<body class="bg-secondary font-body h-screen flex flex-col  text-white">
<header class="pt-16 w-full max-w-[88%] mx-auto">
    <nav class="flex items-center">
        <div>
            <a href="/">
                <img src="/images/result.svg" alt="" class="w-28">
            </a>
        </div>
        <div class="ml-auto w-[15%]">
            <a href="/"
               class="bg-dRed rounded-lg w-full h-[54px] flex justify-center items-center text-[1.25rem] font-bold">
                <span>Späť na stránku</span>
            </a>
        </div>
    </nav>
</header>
<div class="dakujeme my-auto" id="main">
    <main class=" grid grid-cols-2 w-full max-w-[88%] mx-auto">
        <div class="flex flex-col justify-center">
            <div class="w-3/4">
                <h1 class="text-[3.75rem] leading-none mb-7"><span class="text-primary">Ďakujeme</span> za prejavenú dôveru</h1>
                <p class="font-text leading-tight text-[1.2rem] font-regular">Aenean ullamcorper urna tortor, ut elementum felis volutpat faucibus. Interdum et malesuada fames ac ante
                    ipsum primis in faucibus. Proin euismod lacus diam, a faucibus dui ultrices in.</p>
            </div>
        </div>
        <div class="w-full grid grid-cols-11 md:-ml-24" id="dakujeme-images">
            <div class="col-span-6">
                <img src="/images/adrian-bg-y.png" alt="" class="object-contain max-w-full">
            </div>
            <div class="col-span-5">
                <img src="/images/anton-bg-y.png" alt="" class="object-contain max-w-full">
            </div>
        </div>
    </main>
</div>
</body>
</html>