<% layout('./layouts/form-boilerplate') %>
<section id="step1-body" class="my-auto pb-28">
    <div class="w-1/5">
        <p class="mb-2 mt-14 text-white">Vyplnenie údajov vám zaberie <span class="text-primary">menej než 8min</span>
        </p>
    </div>
    <div class="grid grid-cols-2 gap-16 text-secondary">
        <div class="bg-white p-12 rounded-lg">
            <form action="/form/step-1" method="post" id="form1">
                <div class="grid grid-cols-2 gap-6 ">
                    <div class="mb-6">
                        <label for="f-name" class="block">Meno</label>
                        <div class="relative">
                            <input type="text" id="f-name" name="fName"
                                   class="input-default"
                                   placeholder="Juraj">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div>
                        <label for="l-name" class="block">Priezvisko</label>
                        <div class="relative">
                            <input type="text" id="l-name" name="lName"
                                   class="input-default"
                                   placeholder="Testulič">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="rodne-cislo">Rodné číslo</label>
                    <div class="relative">
                        <input type="text" id="rodne-cislo"
                               class="input-default"
                               placeholder="220103/1925" name="bNumber">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="obciansky">Číslo občianského preukazu</label>
                    <div class="relative">
                        <input type="text" id="obciansky"
                               class="input-default"
                               placeholder="BP022013" name="id">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed icon"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6">
                    <label for="phone-num">Telefónne číslo</label>
                    <div class="relative">
                        <input type="text" id="phone-num"
                               class="input-default"
                               placeholder="0901 234 567" name="phoneNum">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>

                <div class="mb-6">
                    <label for="email">Email</label>
                    <div class="relative">
                        <input type="text" id="email"
                               class="input-default"
                               placeholder="juraj.testulic@gmail.com" name="email">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="job">Tvoje pracovné zaradenie</label>
                    <select name="job" id="job"
                            class="w-full border-2 border-secondary rounded-lg focus:border-primary focus:ring-0 focus:drop-shadow-md">
                        <option value="employee">Zamestnanec</option>
                        <option value="state-employee">Štátny zamestnanec</option>
                        <option value="foreign-employee">Zamestnanec v zahraničí</option>
                        <option value="self-employed">Živnostník / S.R.O.</option>
                        <option value="without-ico">Živnostník bez IČO</option>
                        <option value="tender-self">Opatrovateľ/ka - živnostník - v členskej krajine EÚ</option>
                        <option value="tender">Opatrovateľka</option>
                        <option value="senior">Starobný dôchodca</option>
                        <option value="retired-senior">Výsluhový dôchodca</option>
                        <option value="invalid-senior">Invalidný dôchodca</option>
                        <option value="student">Študent</option>
                        <option value="maternity">Osoba na materskej dovolenke</option>
                        <option value="home-person">Osoba v domácnosti</option>
                        <option value="unemployed">Nezamestnaný</option>
                    </select>
                </div>
                <div class="mb-6 flex">
                    <input type="checkbox" id="podmienky" class="border-2 border-secondary rounded mt-1 focus:ring-0 hover:border-primary text-secondary">
                    <div class="mt-0 ml-3">
                        Súhlasím s uložením <span class="underline decoration-solid">osobných údajov v rozpracovanom kontaktnom
                        formulári</span>
                    </div>
                </div>
                <button class="border-2 border-dRed rounded-lg py-2 px-10 text-black/50">Ďalej <i
                            class="fa-solid fa-arrow-right-long"></i></button>
            </form>
        </div>
        <div id="step-1-r" class="text-white -mr-20">
            <h2 class="text-5xl mb-5">Máš záujem o</h2>
            <p>pôžičku na 3800€<br>
                s dobou splácania 4 roky <br>
                a mesačnou splátkou 108,81€ </p>
        </div>
    </div>
</section>