<% layout('./layouts/form-boilerplate') %>
<section id="step1-body" class="my-auto pb-28">
    <div class="w-1/5">
        <p class="mb-2 mt-14 text-white">Vyplnenie údajov vám zaberie <span class="text-primary font-medium">menej než 8min</span></p>
    </div>
    <div class="grid grid-cols-2 gap-16 text-secondary">
        <div class="bg-white p-12 rounded-lg">
            <form action="/form/step-1" method="post" id="form1">
                <div class="grid grid-cols-2 gap-6 ">
                    <div class="mb-6">
                        <label for="f-name" class="block font-bold text-[1rem]">Meno</label>
                        <div class="relative">
                            <input type="text" id="f-name" name="fName"
                                   class="input-default"
                                   placeholder="Juraj">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div>
                        <label for="l-name" class="block font-bold text-[1rem]">Priezvisko</label>
                        <div class="relative">
                            <input type="text" id="l-name" name="lName"
                                   class="input-default"
                                   placeholder="Testulič">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="rodne-cislo" class="font-bold text-[1rem]">Rodné číslo</label>
                    <div class="relative">
                        <input type="text" id="rodne-cislo"
                               class="input-default"
                               placeholder="220103/1925" name="bNumber">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="obciansky" class="font-bold text-[1rem]">Číslo občianského preukazu</label>
                    <div class="relative">
                        <input type="text" id="obciansky"
                               class="input-default"
                               placeholder="BP022013" name="id">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed icon"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6">
                    <label for="phone-num" class="font-bold text-[1rem]">Telefónne číslo</label>
                    <div class="relative">
                        <input type="text" id="phone-num"
                               class="input-default"
                               placeholder="0901 234 567" name="phoneNum">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>

                <div class="mb-6">
                    <label for="email" class="font-bold text-[1rem]">Email</label>
                    <div class="relative">
                        <input type="text" id="email"
                               class="input-default"
                               placeholder="juraj.testulic@gmail.com" name="email">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="job" class="font-bold text-[1rem]">Tvoje pracovné zaradenie</label>
                    <select name="job" id="job"
                            class="w-full border-2 border-secondary rounded-lg focus:border-primary focus:ring-0 focus:drop-shadow-md">
                        <option value="employee">Zamestnanec</option>
                        <option value="state-employee">Štátny zamestnanec</option>
                        <option value="foreign-employee">Zamestnanec v zahraničí</option>
                        <option value="self-employed">Živnostník / S.R.O.</option>
                        <option value="without-ico">Živnostník bez IČO</option>
                        <option value="tender-self">Opatrovateľ/ka - živnostník - v členskej krajine EÚ</option>
                        <option value="tender">Opatrovateľka</option>
                        <option value="senior">Starobný dôchodca</option>
                        <option value="retired-senior">Výsluhový dôchodca</option>
                        <option value="invalid-senior">Invalidný dôchodca</option>
                        <option value="student">Študent</option>
                        <option value="maternity">Osoba na materskej dovolenke</option>
                        <option value="home-person">Osoba v domácnosti</option>
                        <option value="unemployed">Nezamestnaný</option>
                    </select>
                </div>
                <div class="mb-6 flex">
                    <input type="checkbox" id="podmienky"
                           class="border-2 border-secondary rounded mt-1 focus:ring-0 hover:border-primary text-secondary">
                    <div class="mt-0 ml-3">
                        Súhlasím s uložením <span class="underline decoration-solid font-bold">osobných údajov v rozpracovanom kontaktnom
                        formulári</span>
                    </div>
                </div>
                <button class="border-2 border-dRed rounded-lg text-black/50 w-[175px] h-[54px] flex items-center justify-center text-[20px] font-bold">
                    <span>Ďalej <i class="fa-solid fa-arrow-right-long"></i></span>
                </button>
            </form>
        </div>
        <div id="step-1-r" class="text-white -mr-20">
            <h2 class="text-5xl mb-5">Máš záujem o</h2>
            <p>pôžičku na <span class="text-primary"><%= formData.calcData.money %> €</span><br>
                s dobou splácania <span class="text-primary"><%= formData.calcData.years %> roky</span> <br>
                a mesačnou splátkou <span class="text-primary"><%=formData.calcData.interest %> €</span></p>
        </div>
    </div>
</section>
<script>
    const form1 = document.querySelector('#form1')

    let allLetters = /^[A-Za-z]+$/;

    let name = document.querySelector('#f-name');
    let surname = document.querySelector('#l-name')
    let rodneCislo = document.querySelector('#rodne-cislo')
    let obciansky = document.querySelector('#obciansky')
    let phoneNum = document.querySelector('#phone-num')
    let email = document.querySelector('#email')
    let checkbox = document.querySelector('#podmienky')

    form1.addEventListener('submit', (e) => {

        let nameValidation = validateInput(name, true)
        let surnameValidation = validateInput(surname, true)
        let cisloValidation = validateInput(rodneCislo)
        let obcianskyValidation = validateInput(obciansky)
        let phoneNumValidation = validateInput(phoneNum)
        let emailValidation = validateInput(email)
        let checkboxValidation = validateCheckbox()


        if (!surnameValidation || !nameValidation || !cisloValidation || !obcianskyValidation || !phoneNumValidation || !emailValidation || !checkboxValidation) {
            e.preventDefault()
        }

    })
    const validateInput = (input) => {
        const inputValue = input.value.trim();
        if (!inputValue) {
            setErrorFor(input)
            return false
        } else {
            setSuccessFor(input)
            return true
        }
    }
    const setErrorFor = (input, msg = "Pole je nevyplnene") => {
        const parent = input.parentElement
        const icon = parent.querySelector('i')
        icon.classList.remove('fa-check')
        icon.classList.add('fa-xmark')
        icon.classList.remove('text-transparent')
        icon.classList.remove('text-green-400')
        icon.classList.add("text-dRed")

        const div = parent.parentElement
        div.classList.remove('mb-6')
        div.classList.add('mb-3')

        const small = div.querySelector('small')
        small.innerText = msg
        input.className = "input-danger"
    }

    const setSuccessFor = (input) => {
        const parent = input.parentElement
        const icon = parent.querySelector('i')
        icon.classList.remove('fa-xmark')
        icon.classList.add('fa-check')
        icon.classList.remove('text-transparent')
        icon.classList.remove('text-dRed')
        icon.classList.add("text-green-400")

        const div = parent.parentElement
        div.classList.remove('mb-6')
        div.classList.add('mb-3')

        const small = div.querySelector('small')
        small.innerText = " "
        input.className = "input-default"
    }
    const validateCheckbox = () => {
        if (!checkbox.checked) {
            checkbox.nextElementSibling.className = "text-dRed"
            checkbox.classList.add('mr-3')
            checkbox.classList.remove('border-secondary')
            checkbox.classList.add('border-dRed')
            return false
        } else {
            checkbox.nextElementSibling.className = "text-secondary"
            return true
        }
    }

    function setInputFilter(textbox, inputFilter) {
        ["input", "keydown", "keyup", "mousedown", "mouseup", "select", "contextmenu", "drop"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }

    setInputFilter(phoneNum, function (value) {
        return /^-?\d*$/.test(value);
    });
</script>