<% layout('./layouts/form-boilerplate') %>
<section class="form-container md:my-auto pb-[4.5rem] md:pb-28">
    <div class="md:w-1/5">
        <p class="form-label">Vyplnenie údajov vám zaberie <span class="text-primary font-medium">menej než 8min</span></p>
        <div class="flex md:hidden text-white items-end font-light justify-center mb-[2rem]">
            <p class="md:hidden leading-none">Vyplnenie formuláru zaberie</p>
            <img src="/images/clock.svg" alt="" class="w-5 mx-2">
            <p class="text-primary leading-none">8min</p>
        </div>
    </div>
    <div class="flex flex-col md:grid grid-cols-2 md:gap-24 text-secondary md:mb-0 md:h-full ">
        <div class="bg-white p-6 md:p-12 rounded-lg ">
            <form action="/form/step-1" method="post" id="form1">
                <div class="grid grid-cols-2 md:gap-6 ">
                    <div class="mb-6 col-span-2 md:col-span-1">
                        <label for="f-name" class="label-default">Meno</label>
                        <div class="relative">
                            <input type="text" id="f-name" name="fName"
                                   class="input-default placeholder-default validate"
                                   placeholder="Juraj">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                    <div class="col-span-2 md:col-span-1 mb-6 md:mb-0">
                        <label for="l-name" class="label-default">Priezvisko</label>
                        <div class="relative">
                            <input type="text" id="l-name" name="lName"
                                   class="input-default placeholder-default validate"
                                   placeholder="Testulič">
                            <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                        </div>
                        <small class="text-xs text-dRed"></small>
                    </div>
                </div>
                <div class="mb-6">
                    <label for="rodne-cislo" class="label-default">Rodné číslo</label>
                    <div class="relative">
                        <input type="text" id="rodne-cislo"
                               class="input-default placeholder-default validate"
                               placeholder="220103/1925" name="bNumber">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="obciansky" class="label-default">Číslo občianského preukazu</label>
                    <div class="relative">
                        <input type="text" id="obciansky"
                               class="input-default placeholder-default validate"
                               placeholder="BP022013" name="id">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed icon"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6">
                    <label for="phone-num" class="label-default">Telefónne číslo</label>
                    <div class="relative">
                        <input type="text" id="phone-num"
                               class="input-default placeholder-default validate"
                               placeholder="0901 234 567" name="phoneNum">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed "></small>
                </div>
                <div class="mb-6">
                    <label for="email" class="label-default">Email</label>
                    <div class="relative">
                        <input type="text" id="email"
                               class="input-default placeholder-default validate"
                               placeholder="juraj.testulic@gmail.com" name="email">
                        <i class="fa-solid fa-1x fa-xmark text-transparent text-dRed"></i>
                    </div>
                    <small class="text-xs text-dRed"></small>
                </div>
                <div class="mb-6">
                    <label for="job" class="label-default">Tvoje pracovné zaradenie</label>
                    <select name="job" id="job"
                            class="w-full border-2 border-secondary rounded-lg focus:border-primary focus:ring-0 focus:drop-shadow-md">
                        <option value="employee">Zamestnanec</option>
                        <option value="state-employee">Štátny zamestnanec</option>
                        <option value="foreign-employee">Zamestnanec v zahraničí</option>
                        <option value="self-employed">Živnostník / S.R.O.</option>
                        <option value="without-ico">Živnostník bez IČO</option>
                        <option value="tender-self">Opatrovateľ/ka - živnostník - v členskej krajine EÚ</option>
                        <option value="tender">Opatrovateľka</option>
                        <option value="senior">Starobný dôchodca</option>
                        <option value="retired-senior">Výsluhový dôchodca</option>
                        <option value="invalid-senior">Invalidný dôchodca</option>
                        <option value="student">Študent</option>
                        <option value="maternity">Osoba na materskej dovolenke</option>
                        <option value="home-person">Osoba v domácnosti</option>
                        <option value="unemployed">Nezamestnaný</option>
                    </select>
                </div>
                <div class="mb-6 flex">
                    <input type="checkbox" id="podmienky"
                           class="border-2 border-secondary rounded mt-1 focus:ring-0 hover:border-primary text-secondary">
                    <div class="mt-0 ml-2 md:ml-3">
                        Súhlasím s uložením <span class="underline decoration-solid font-bold">osobných údajov v rozpracovanom kontaktnom
                        formulári</span>
                    </div>
                </div>
                <button class="border-2 border-dRed rounded-lg text-black/50 w-[175px] h-[54px] flex items-center justify-center text-[20px] font-bold mx-auto md:mx-0">
                    <span>Ďalej <i class="fa-solid fa-arrow-right-long"></i></span>
                </button>
            </form>
        </div>
        <div class="test translate-y-[190px] md:translate-y-0 md:flex text-white bottomNav transition ease-in-out duration-200">
            <div class="md:hidden buttonContainer">
                <div class="bg-transparent">
                    <img src="/images/icons/mobile-up.svg" alt="" class="w-full max-w-[59px] mx-auto cursor-pointer translate-y-[70%] " id="button">
                </div>
                <div class="flex flex-col h-[54px] rounded-t-[10px] bg-secondary">
                    <div class="m-auto z-40">
                        <span class="font-light leading-[17px] text-[1.125rem]">Tebou vyplnené údaje</span>
                    </div>
                </div>
            </div>
            <div class="h-[190px] md:h-full transition ease-in-out duration-200 bg-secondary">
                <h2 class="form-heading1 w-[335px] md:w-full mx-auto md:mx-0">Máš záujem o</h2>
                <div class="w-full max-w-[335px] md:max-w-[420px] flex flex-col mx-auto md:mx-0">
                    <span class="text-[1.125rem] md:text-[1.7rem] md:block leading-[22px] md:leading-[36px] lg:mb-1">pôžičku na <span class="text-primary"><%= formData.calcData.money %> €</span></span>
                    <span class="text-[1.125rem] md:text-[1.7rem] md:block leading-[22px] md:leading-[36px] lg:mb-1">s dobou splácania <span class="text-primary"><%= formData.calcData.years %> roky</span></span>
                    <span class="text-[1.125rem] md:text-[1.7rem] md:block leading-[22px] md:leading-[36px]">a mesačnou splátkou <span class="text-primary"><%= formData.calcData.interest %> €</span></span>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    const buttonStep1 = document.querySelector('#button')
    const bottomNavStep1 = document.querySelector('.bottomNav')
    const buttonContainer = document.querySelector('.buttonContainer')
    buttonStep1.addEventListener('click', () => {
        bottomNavStep1.classList.toggle('translate-y-[190px]')
    })
</script>