<% layout('./layouts/form-boilerplate') %>
<section class="mt-auto form-container pb-[4.5rem] lg:py-[9rem]">
    <div class="flex flex-col md:grid grid-cols-2 md:gap-24 text-secondary">
        <div class="bg-white p-6 md:p-12 rounded-lg">
            <form action="/form/step-4" method="post">
                <div class="flex items-center mb-8">
                    <img src="/images/step4-id.svg" alt="">
                    <h3 class="ml-4 text-[1.25rem] md:text-xl font-bold leading-tight">Občiansky preukaz z prednej aj
                        zadnej strany</h3>
                </div>
                <div class="flex items-center">
                    <img src="/images/step4-doc.svg" alt="">
                    <div class="flex flex-col items-start ml-4">
                        <h3 class="text-[1.25rem] font-bold md:text-xl">Doklad o príjme</h3>
                        <p class="text-[0.8rem] md:text-xs text-secondary/50">
                            Ak dostávate výplatu na účet, stačí mi snímka obrazovky vášho internet bankingu. Inak
                            potrebujem
                            posledné 3 výplatné pásky a výpis z účtu za posledný mesiac.
                        </p>
                    </div>
                </div>
                <hr class="my-12">
                <div class="mb-6 flex md:items-center">
                    <div class="fileInputContainer">
                        <label for="frontObciansky"
                               class=" flex cursor-pointer h-[90px] w-[160px] rounded-[10px] custom-stroke">
                        <span class="flex m-auto items-center">
                            <img src="/images/icons/rounded-plus.svg" alt="" class="w-full max-w-[25px]">
                            <span class="flex flex-col ml-2">
                                <span class="text-[0.75rem] font-bold">Pridať súbory</span>
                                <span class="text-[0.5rem] leading-[10px]">PNG, JPG, PDF</span>
                            </span>
                        </span>
                        </label>
                        <input type="file" id="frontObciansky" class="hidden">
                    </div>
                    <img src="#" id="predna-strana" alt="" class="w-full md:max-w-[160px] hidden border-2 rounded-[10px] border-secondary">
                    <div class="vl md:mx-[2rem]"></div>
                    <div class="flex flex-col w-full md:max-w-[205px]">
                        <h4 class="text-[1.25rem] font-bold md:leading-[23px] md:mb-[0.2rem]">Predna strana Občiansky
                            preukaz</h4>
                        <span class="font-bold md:text-[0.875rem] text-secondary/70 md:leading-[15px]">(max 5MB)</span>
                    </div>
                </div>
                <div class="mb-6 flex md:items-center">
                    <div>
                        <label for="backObciansky"
                               class=" flex cursor-pointer h-[90px] w-[160px] rounded-[10px] custom-stroke">
                        <span class="flex m-auto items-center">
                            <img src="/images/icons/rounded-plus.svg" alt="" class="w-full max-w-[25px]">
                            <span class="flex flex-col ml-2">
                                <span class="text-[0.75rem] font-bold">Pridať súbory</span>
                                <span class="text-[0.5rem] leading-[10px]">PNG, JPG, PDF</span>
                            </span>
                        </span>
                        </label>
                        <input type="file" id="backObciansky" class="hidden">
                    </div>
                    <div class="vl md:mx-[2rem]"></div>
                    <div class="flex flex-col w-full md:max-w-[205px]">
                        <h4 class="text-[1.25rem] font-bold md:leading-[23px] md:mb-[0.2rem]">Zadna strana Občiansky
                            preukaz</h4>
                        <span class="font-bold md:text-[0.875rem] text-secondary/70 md:leading-[15px]">(max 5MB)</span>
                    </div>
                </div>
                <div class="mb-8 flex md:items-center">
                    <div>
                        <label for="doklady"
                               class=" flex cursor-pointer h-[90px] w-[160px] rounded-[10px] custom-stroke">
                        <span class="flex m-auto items-center">
                            <img src="/images/icons/rounded-plus.svg" alt="" class="w-full max-w-[25px]">
                            <span class="flex flex-col ml-2">
                                <span class="text-[0.75rem] font-bold">Pridať súbory</span>
                                <span class="text-[0.5rem] leading-[10px]">PNG, JPG, PDF</span>
                            </span>
                        </span>
                        </label>
                        <input type="file" id="doklady" class="hidden">
                    </div>
                    <div class="vl md:mx-[2rem]"></div>
                    <div class="flex flex-col w-full md:max-w-[220px]">
                        <h4 class="text-[1.25rem] font-bold md:leading-[23px] md:mb-[0.2rem]">Doklady o príjme 0/3</h4>
                        <span class="font-bold md:text-[0.875rem] text-secondary/70 md:leading-[15px]">(1 súbor max 2MB)</span>
                    </div>
                </div>
                <button class="border-2 border-dRed rounded-lg py-1.5 px-7">Odoslať na posúdenie</button>
            </form>
        </div>
        <div class="translate-y-[560px] md:translate-y-0 bottom-nav bottom-nav-fixed bottom-nav-container md:h-[45rem]">
            <div class="md:hidden buttonContainer">
                <div class="bg-transparent">
                    <img src="/images/icons/mobile-up.svg" alt=""
                         class="w-full max-w-[59px] mx-auto cursor-pointer translate-y-[70%] bottom-nav-button">
                </div>
                <div class="flex flex-col h-[54px] rounded-t-[10px] bg-secondary">
                    <div class="m-auto z-40">
                        <span class="font-light leading-[17px] text-[1.125rem]">Tebou vyplnené údaje</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    const fileInputContainers = document.querySelectorAll('.fileInputContainer')
    const imgPredna = document.querySelector('#predna-strana')
    const inputPredna = document.querySelector('#frontObciansky');
    let isAdded = false;
    inputPredna.onchange = evt => {
        const [file] = inputPredna.files
        if (file) {
            imgPredna.src = URL.createObjectURL(file)
            imgPredna.classList.toggle('hidden')
            for (const fileInputContainer of fileInputContainers) {
                fileInputContainer.classList.add('hidden')
            }
        isAdded = !isAdded;
        }

    }
</script>