
html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}


nav {
  ul {
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    li:hover {
      transition-property: border;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }
}

#home-top {


  .bg-y-sm {
    background-image: url("/images/bg-y-sm.svg");
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: right bottom;
  }

  .home-calc {
    min-height: 100%;
  }

  .bg-top-g {
    background-image: url("/images/bg-gray.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#pozicka-container {
  height: 175%;
  margin-right: 8rem;
}

#calc-b-back {
  min-height: 9rem;
}

#reviews-container {
  top: -6.5rem;
}

#yellow-sm {
  top: 61%;
  left: 41%;
}


#dead-space {
  min-height: 85px;
}






#calc-ad-parent {
  max-height: 200px;
}






#find-out-more-section {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-image: url("/images/find-out-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
}



#products-section {
  margin-bottom: 7rem;

  .products-bg {
    background-image: url("/images/products-red-pasta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  #zine {
    max-width: 8rem !important;
  }
}

#reviews-section {
  background-image: url("/images/review-bg-quote.svg");
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: center bottom;
  height: 600px;
  width: 100%;
  margin-bottom: 7rem;

  #leftSide {
    height: 100%;
    width: 18%;
    background-image: url("/images/reviews-left-pasta.svg");
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position: -20px center;
  }

  #content {
    padding-right: 15%;
    height: 100%;
    width: 100%;
    background-image: url("/images/reviews-right-pasta.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}



#contact-section {
  margin-bottom: 7rem;

  #contact-left {
    width: 100%;
    height: 700px;
    background-image: url("/images/reviews-left-pasta.svg");
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position: -20px center;
  }

  #contact-form {
    background-image: url("/images/contact-right-pasta.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 80%;

    textarea {
      resize: none;
    }
  }
}



// Centrala CSS

.no-space {
  font-size: 0;
}


#centrala-description {
  #centrala-descrpition-bg1 {
    background-image: url("/images/centrala-description-bg1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -1rem center;
  }

  #centrala-description-bg2 {
    background-image: url("/images/centrala-description-bg2.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
}



#centrala-personal {
  margin-top: 7rem;

  #left-personal {
    width: 13%;
    background-image: url("/images/personal-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
  }

  #personal-content {
    width: 74%;
  }

  #right-personal {
    width: 13%;
    background-image: url("/images/personal-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
}

#centrala-contact {
  margin-bottom: 7rem;
  margin-top: 7rem;
  background-image: url("/images/centrala-contact-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;


  #contact-right {
    background-image: url("/images/map-card-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}

//Dofinancovanie


#ref-top-long {
  height: 200px;
  background-image: url("/images/find-out-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#dof-white-bg {
  margin-bottom: 7rem;
  background-image: url("/images/sub-header-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#dofinancovanie-form {
  margin-bottom: 7rem;
  width: 100%;

  #form-content {

    textarea {
      resize: none;
    }
  }

  #form-right {
    width: 15%;
    background-size: contain;
    background-image: url("/images/dofinancovanie-form-bg2.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  #form-left {
    width: 15%;
    background-size: contain;
    background-image: url("/images/dofinancovanie-form-bg1.svg");
    background-repeat: no-repeat;
    background-position: -1rem center;
  }
}

//about

#about-top {
  background-image: url("/images/about-top-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

#about-who {
  margin-top: 7rem;
  height: 100%;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-image: url("/images/bg-red-right.svg");
}

#about-what {
  height: 100%;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  background-image: url("/images/bg-red-left.svg");
}

//contact
#contact-section-map {
  margin-bottom: 7rem;

  #contact-map {
    background-image: url("/images/contact-map-bg-l.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }

  #contact-right {
    width: 100%;
    background-image: url("/images/contact-map-bg-r.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -1.5rem center;
  }

}

//Forms


#step-1-r {
  background-image: url("/images/step1-bg.svg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

#step-2-r {
  background-image: url("/images/step2-bg.svg");
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}


// form rejected



// form success
#form-success {
  .bg-y {
    width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/form-success-ybg.svg");
  }

  .bg-g {
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("/images/form-success-gbg.svg");
  }

  .content {
    width: 90%;
  }
}

// calcAd2


#benefits-section-dark {
  background-image: url("/images/benefitsDark-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom 1rem;
}

.card-bg {
  background-image: url("/images/card-bg.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: bottom right;
}


.ReviewsWrapper {
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;


  .review {
    padding-left: 2rem;
    min-width: 22rem;
  }
}


#ReviewsWrappered {
  display: none;
}

.fa-xmark {
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-check {
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//offer hover arrow solution
.offerContainer:hover .offerArrow {
  transition: opacity ease-in-out 0.2s;
  opacity: 1;
}



.calculator-gray-bg {
  height: 100%;
  background-image: url("/images/gray-top-home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}



#centrala-hero-video {
  position: relative;
  z-index: 5;

  &::after {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-size: contain;
    /*content: url("/images/centrala-home-bg2.svg");*/
    content: '';
    background-image: url("/images/centrala-home-bg2.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}





#main {
  background-image: url("/images/dakujeme-gray.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 75%;
}

.dakujeme {
  position: relative;
  z-index: 3;

  &::after {
    z-index: -1;
    position: absolute;
    background-image: url("/images/dakujeme-yellow.svg");
    background-position: center right;
    height: 100%;
    width: 10%;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
#businessSince {
  background: url("/images/calendar.svg") no-repeat scroll center left 7px;
  padding-left:30px;
}

#calculator-section {
  z-index: 1;
}
#centrala-location {
  background-image: url("/images/mobile/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-width: 768px) {
  #calculator-section {
    position: relative;
    z-index: 1;

    &::after {
      z-index: -1;
      height: 300px;
      position: absolute;
      top: 6rem;
      right: 4rem;
      content: url("/images/home-bg-y.svg");
    }
  }

  #heroText {
    position: relative;
    z-index: 1;
    height: 200px;

    &::after {
      z-index: -1;
      position: absolute;
      top: 25rem;
      right: 2rem;
      content: url("/images/bg-y-sm.svg");
    }
  }

  #card-wrapper {
    z-index: 2;
  }

  #benefits-section {
    position: relative;
    z-index: 2;
    &::after {
      position: absolute;
      top: 13rem;
      z-index: -2;
      content: url("/images/benefits-bg.svg");
    }
  }

  #calc-ad {
    background-image: url("/images/calcAd-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
  }

  #home-about {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      z-index: -1;
      height: 100%;
      width: 14%;
      position: absolute;
      background-image: url("/images/aboutUs-bg-l.svg");
      background-repeat: no-repeat;
      background-size: contain;
      left: -2rem;
      top: 7rem;
    }

    &::after {
      content: "";
      z-index: -1;
      height: 100%;
      width: 14%;
      position: absolute;
      background-image: url("/images/aboutUs-bg-r.svg");
      background-repeat: no-repeat;
      background-size: contain;
      right: -2rem;
      top: 7rem;
    }
  }

  #home-card-section {
    position: relative;
    z-index: 2;

    &::before {

      width: 15%;
      height: 100%;
      z-index: -1;
      position: absolute;
      content: "";
      background-image: url("/images/offer-bg-l.svg");
      background-repeat: no-repeat;
      background-position: top center;
      top: 0;
      left: -2%;
    }

    &::after {

      width: 15%;
      height: 100%;
      z-index: -1;
      position: absolute;
      content: "";
      background-image: url("/images/offer-bg-r.svg");
      background-repeat: no-repeat;
      background-position: bottom center;
      top: 0;
      right: -2%;
    }
  }

  #faq {
    #faq-header {
      height: 170px;
      width: 100%;
      background-image: url("/images/faq-top-pasta.svg");
      background-position: center right;
      background-repeat: no-repeat;
      margin-bottom: 3.5rem;
    }
  }

  #footer {
    background-image: url("/images/find-out-bg.svg");
    background-repeat: no-repeat;
    background-position: center 5rem;
  }

  #centrala-hero-text {
    position: relative;
    z-index: 2;

    &::after {
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      height: 40%;
      width: 100%;
      background-image: url("/images/centrala-home-bg1.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  #centrala-location {
    background-image: url("/images/map.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    #card-background {
      background-image: url("/images/map-card-bg.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: right center;
    }
  }

  #dofinancovanie-hero-img {
    position: relative;
    z-index: 5;

    &::after {
      z-index: -1;
      position: absolute;
      content: url("/images/ref-top-bg.svg");
      right: -21rem;
      top: -1rem;
    }
  }
  #rejected-main {
    background-image: url("/images/rejected-bg-y.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }

  #rejected-right {
    background-image: url("/images/rejected-bg-g.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
  }
}
