:root {
  --swiper-theme-color: #ed4036;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

nav {
  ul {
    transition-property: height;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    li:hover {
      transition-property: border;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
  }
}

#home-top {
  .bg-y-sm {
    background-image: url("/images/bg-y-sm.svg");
    background-repeat: no-repeat;
    background-size: 8rem;
    background-position: right bottom;
  }

  .home-calc {
    min-height: 100%;
  }

  .bg-top-g {
    background-image: url("/images/bg-gray.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

#pozicka-container {
  height: 175%;
  margin-right: 8rem;
}

#calc-b-back {
  min-height: 9rem;
}

#reviews-container {
  top: -6.5rem;
}

#yellow-sm {
  top: 61%;
  left: 41%;
}

#dead-space {
  min-height: 85px;
}

#calc-ad-parent {
  max-height: 200px;
}

#find-out-more-section {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  background-image: url("/images/find-out-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 768px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    background-size: contain;
  }
}

#products-section {
  margin-bottom: 7rem;

  .products-bg {
    background-image: url("/images/products-red-pasta.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
  }

  #zine {
    max-width: 8rem !important;
  }
}

#reviews-section {
  background-image: url("/images/review-bg-quote.svg");
  background-repeat: no-repeat;
  background-size: 10rem;
  background-position: center bottom;
  height: 600px;
  width: 100%;
  margin-bottom: 7rem;

  #leftSide {
    height: 100%;
    width: 18%;
    background-image: url("/images/reviews-left-pasta.svg");
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position: -20px center;
  }

  #content {
    padding-right: 15%;
    height: 100%;
    width: 100%;
    background-image: url("/images/reviews-right-pasta.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

#contact-section {
  margin-bottom: 7rem;

  #contact-left {
    width: 100%;
    height: 700px;
    background-image: url("/images/reviews-left-pasta.svg");
    background-size: 13rem;
    background-repeat: no-repeat;
    background-position: -20px center;
  }

  #contact-form {
    background-image: url("/images/contact-right-pasta.svg");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: auto 80%;
  }
}

// Centrala CSS

.no-space {
  font-size: 0;
}

#centrala-description {
  #centrala-descrpition-bg1 {
    background-image: url("/images/centrala-description-bg1.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: -1rem center;
  }

  #centrala-description-bg2 {
    background-image: url("/images/centrala-description-bg2.svg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
}

#centrala-personal {
  margin-top: 7rem;

  #left-personal {
    width: 13%;
    background-image: url("/images/personal-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center left;
  }

  #personal-content {
    width: 74%;
  }

  #right-personal {
    width: 13%;
    background-image: url("/images/personal-bg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
  }
}

//Dofinancovanie

#ref-top-long {
  height: 200px;
  background-image: url("/images/find-out-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#dof-white-bg {
  margin-bottom: 7rem;
  background-image: url("/images/sub-header-white.svg");
  background-repeat: no-repeat;
  background-position: center;
}

#dofinancovanie-form {
  margin-bottom: 8rem;
  width: 100%;

  #form-content {
    textarea {
      resize: none;
    }
  }

  #form-right {
    width: 15%;
    background-size: contain;
    background-image: url("/images/dofinancovanie-form-bg2.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }

  #form-left {
    width: 15%;
    background-size: contain;
    background-image: url("/images/dofinancovanie-form-bg1.svg");
    background-repeat: no-repeat;
    background-position: -1rem center;
  }
}

//about

//#about-who {
//  margin-top: 7rem;
//  height: 100%;
//  background-repeat: no-repeat;
//  background-position: right;
//  background-size: contain;
//  background-image: url("/images/bg-red-right.svg");
//}
//
//#about-what {
//  height: 100%;
//  background-repeat: no-repeat;
//  background-position: left;
//  background-size: contain;
//  background-image: url("/images/bg-red-left.svg");
//}

//contact

//Forms

#step-1-r {
  background-image: url("/images/step1-bg.svg");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
}

#step-2-r {
  background-image: url("/images/step2-bg.svg");
  background-size: 100%;
  background-position: bottom right;
  background-repeat: no-repeat;
}

// form rejected

// form success
#form-success {
  .bg-y {
    width: 10%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("/images/form-success-ybg.svg");
  }

  .bg-g {
    background-size: contain;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("/images/form-success-gbg.svg");
  }

  .content {
    width: 90%;
  }
}

// calcAd2

.card-bg {
  background-image: url("/images/card-bg.svg");
  background-size: 5rem;
  background-repeat: no-repeat;
  background-position: bottom right;
}

.ReviewsWrapper {
  position: relative;
  max-width: 100vw;
  overflow: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  .review {
    padding-left: 2rem;
    min-width: 22rem;
  }
}

#ReviewsWrappered {
  display: none;
}

.fa-xmark {
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.fa-check {
  right: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

//offer hover arrow solution
.offerContainer:hover .offerArrow {
  transition: opacity ease-in-out 0.2s;
  opacity: 1;
}

//#testButton {
//  height: 84px;
//  font-size: 24px;
//  color: #FFFFFF;
//  text-align: center;
//}
//
//&::after {
//  z-index: -1;
//  top: -6rem;
//  right: -6rem;
//  width: 695px;
//  position: absolute;
//  content: url("/images/home-bg-y.svg");
//}
//
//&::before {
//  content: url("/images/bg-y-sm.svg");
//  position: absolute;
//  left: -13rem;
//  bottom: 15rem;
//}
@media screen and (min-width: 768px) {
  #contact-hero-image {
    position: relative;
    z-index: 2;

    &::after {
      width: 700px;
      position: absolute;
      right: 0;
      top: -6.5rem;
      z-index: -1;
      content: url("/images/kontakt-kontaktujte/hero-lg.svg");
    }
  }

  #contact-hero-text {
    position: relative;
    z-index: 2;

    &::after {
      width: 550px;
      position: absolute;
      left: 0;
      bottom: -8rem;
      z-index: -1;
      content: url("/images/kontakt-kontaktujte/hero-sm.svg");
    }
  }
}

.calculator-gray-bg {
  height: 100%;
  background-image: url("/images/gray-top-home.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}

#centrala-hero-video {
  position: relative;
  z-index: 5;

  &::after {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-size: contain;
    /*content: url("/images/centrala-home-bg2.svg");*/
    content: "";
    background-image: url("/images/centrala-home-bg2.svg");
    background-repeat: no-repeat;
    background-position: center right;
  }
}

#main {
  background-image: url("/images/dakujeme-gray.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 75%;
}

.dakujeme {
  position: relative;
  z-index: 3;

  &::after {
    z-index: -1;
    position: absolute;
    background-image: url("/images/dakujeme-yellow.svg");
    background-position: center right;
    height: 100%;
    width: 10%;
    content: "";
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
  }
}

.calendar {
  background: url("/images/calendar.svg") no-repeat scroll center left 7px;
  padding-left: 30px;
}

#calculator-section {
  z-index: 1;
}

#centrala-location {
  background-image: url("/images/mobile/map.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #ad-cards-wrapper {
    height: 170px;
    position: relative;
    background-image: url("/images/personal/desktop-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  #contact-hero {
    position: relative;

    &::after {
      content: url("/images/kontakt-kontaktujte/hero-after-bg.svg");
      position: absolute;
      bottom: -28rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
      width: 100%;
      max-width: 1920px;
    }
  }
  #contact-form-wrapper {
    position: relative;

    &::before {
      content: "";
      background: #1d3047;
      position: absolute;
      z-index: -2;
      bottom: 0;
      left: 0;
      right: 48%;
      top: 0;
      border-radius: 0 10px 10px 0;
    }
  }
  #contact-form-wrapper-child {
    position: relative;

    &::after {
      position: absolute;
      height: 660px;
      bottom: 0;
      top: 0;
      right: 0;
      margin: auto 0;
      content: url("/images/kontakt-kontaktujte/contact-form-right-bg.svg");
      z-index: -1;
    }

    &::before {
      position: absolute;
      height: 660px;
      margin: auto 0;
      top: 0;
      bottom: 0;
      left: 0;
      content: url("/images/kontakt-kontaktujte/contact-form-left-bg.svg");
      z-index: -1;
    }
  }

  #calculator-section {
    position: relative;
    z-index: 1;

    &::after {
      z-index: -1;
      height: 300px;
      position: absolute;
      top: 6rem;
      right: 4rem;
      content: url("/images/home-bg-y.svg");
    }
  }

  #heroText {
    position: relative;
    z-index: 1;
    height: 200px;

    .hero-h1 {
      line-height: 72px;
      max-width: 782px;
    }

    .hero-h2 {
      font-size: 40px;
      color: #ffffff;
    }

    #card-wrapper {
      z-index: 2;
    }

    #benefits-section {
      position: relative;
      z-index: 2;

      &::after {
        position: absolute;
        top: 13rem;
        z-index: -2;
        content: url("/images/benefits-bg.svg");
      }
    }

    #calc-ad {
      background-image: url("/images/calcAd-bg.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right center;
    }

    #home-about {
      position: relative;
      z-index: 1;

      &::before {
        content: "";
        z-index: -1;
        height: 100%;
        width: 14%;
        position: absolute;
        background-image: url("/images/aboutUs-bg-l.svg");
        background-repeat: no-repeat;
        background-size: contain;
        left: -2rem;
        top: 7rem;
      }

      &::after {
        content: "";
        z-index: -1;
        height: 100%;
        width: 14%;
        position: absolute;
        background-image: url("/images/aboutUs-bg-r.svg");
        background-repeat: no-repeat;
        background-size: contain;
        right: -2rem;
        top: 7rem;
      }
    }

    #home-card-section {
      position: relative;
      z-index: 2;

      &::before {
        width: 15%;
        height: 100%;
        z-index: -1;
        position: absolute;
        content: "";
        background-image: url("/images/offer-bg-l.svg");
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        top: 0;
        left: -2%;
      }

      &::after {
        width: 15%;
        height: 100%;
        z-index: -1;
        position: absolute;
        content: "";
        background-image: url("/images/offer-bg-r.svg");
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: contain;
        top: 0;
        right: -2%;
      }
    }

    #faq {
      #faq-header {
        height: 170px;
        width: 100%;
        background-image: url("/images/faq-top-pasta.svg");
        background-position: center right;
        background-repeat: no-repeat;
        margin-bottom: 3.5rem;
      }
    }

    #footer {
      background-image: url("/images/find-out-bg.svg");
      background-repeat: no-repeat;
      background-position: center 5rem;
    }

    #centrala-location {
      background-image: url("/images/map.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      #card-background {
        background-image: url("/images/map-card-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
      }
    }

    #dofinancovanie-hero-img {
      position: relative;
      z-index: 5;

      &::after {
        z-index: -1;
        position: absolute;
        content: url("/images/ref-top-bg.svg");
        right: -21rem;
        top: -1rem;
      }
    }

    #rejected-main {
      background-image: url("/images/rejected-bg-y.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
    }

    #rejected-right {
      background-image: url("/images/rejected-bg-g.svg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
    }
  }

  #home-card-section {
    &::before {
      content: unset;
    }

    &::after {
      content: unset;
    }

    & > .container {
      &::after {
        content: unset;
      }
    }
  }
}

.custom-stroke {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%2322314642' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 10px;

  &:hover {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FCC800FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    transition: background-image 0.2s ease-in-out;
  }
}

.highlight {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23FCC800FF' stroke-width='4' stroke-dasharray='8' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
}

@media screen and (max-width: 768px) {
  #contact-hero {
    position: relative;
    z-index: 2;

    &::after {
      position: absolute;
      width: 370px;
      bottom: -5.5rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
      content: url("/images/kontakt-kontaktujte/mobile-hero-bg.svg");
    }
  }

  #contact-hero-parent {
    position: relative;
    z-index: 1;

    &::after {
      width: 100%;
      max-width: 370px;
      position: absolute;
      bottom: -5.75rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      content: url("/images/kontakt-kontaktujte/mobile-hero-parent-bg.svg");
    }

    &::before {
    }
  }

  #contact-person {
    position: relative;
    z-index: 1;

    &::before {
      position: absolute;
      left: -2rem;
      bottom: 0;
      content: url("/images/kontakt-kontaktujte/person-bg.svg");
    }

    &::after {
      position: absolute;
      right: -2rem;
      bottom: 0;
      content: url("/images/kontakt-kontaktujte/person-bg.svg");
    }
  }
}

@media (max-width: 1024px) {
  .active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .bottom-nav-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

#home-card-section {
  position: relative;

  &::before {
    content: url("/images/mobile/mobile-offer-bg.svg");
    position: absolute;
    left: -40px;
    top: 0;

    @media screen and (min-width: 768px) {
      content: url("/images/offer-bg-left.svg");
    }
  }

  &::after {
    content: url("/images/mobile/mobile-offer-bg.svg");
    position: absolute;
    right: -40px;
    top: 0;

    @media screen and (min-width: 768px) {
      content: url("/images/offer-bg-left.svg");
      bottom: 0;
      top: unset;
    }
  }

  & > .container {
    position: relative;

    &::after {
      content: url("/images/mobile/mobile-offer-bottom-bg.svg");
      position: absolute;
      bottom: -100px;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;

      @media screen and (min-width: 768px) {
        content: "";
      }
    }
  }
}

#benefits-section {
  position: relative;

  &::before {
    content: url("/images/mobile/mobile-benefits-bg.svg");
    position: absolute;
    top: 166px;
    bottom: 0;
    left: -20px;
    z-index: -1;
    display: flex;
  }

  &::after {
    content: url("/images/mobile/mobile-benefits-bg.svg");
    position: absolute;
    top: 166px;
    bottom: 0;
    right: -40px;
    z-index: -1;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  #centrala-hero-text {
    position: relative;
    z-index: 2;

    &::after {
      z-index: -1;
      position: absolute;
      left: 0;
      bottom: -8rem;
      content: "";
      height: 100%;
      width: 100%;
      max-width: 570px;
      background: url("/images/centrala-home-bg1.svg") no-repeat center bottom;
    }
  }

  #benefits-section-dark {
    background-image: url("/images/benefitsDark-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom 1rem;
    position: relative;
  }
  #about-who {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      content: url("/images/about-info/right-bg.svg");
    }
  }
  #about-what {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: url("/images/about-info/left-bg.svg");
    }
  }

  #about-top {
    position: relative;
    z-index: 2;

    &::after {
      width: 100%;
      max-width: 1920px;
      content: url("/images/about-top-bg.svg");
      position: absolute;
      bottom: -14rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: -1;
    }
  }

  #personal-wrapper {
    position: relative;

    &::before {
      height: 660px;
      content: url("/images/personal/personal-left-bg.svg");
      position: absolute;
      z-index: -1;
      left: 0;
      bottom: 0;
      top: 0;
    }

    &::after {
      height: 660px;
      content: url("/images/personal/personal-right-bg.svg");
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  #benefits-section {
    position: relative;

    &::before {
      content: url("/images/benefits-bg.svg");
      top: unset;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      content: unset;
    }
  }
}

#calc-ad {
  position: relative;
  z-index: 2;

  &::before {
    content: url("/images/mobile/mobile-cta-bg.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
  }

  &::after {
    content: url("/images/mobile/mobile-cta-bg.svg");
    position: absolute;
    top: 0;
    right: 0;
  }
}

#aboutusBg {
  position: relative;

  &::before {
    content: url("/images/mobile/mobile-aboutus-bg.svg");
    position: absolute;
    top: 0;
    left: -60px;

    @media screen and (min-width: 768px) {
      content: unset;
    }
  }

  &::after {
    content: url("/images/mobile/mobile-aboutus-bg.svg");
    position: absolute;
    top: 0;
    right: -60px;

    @media screen and (min-width: 768px) {
      content: unset;
    }
  }
}

@media screen and (max-width: 1280px) {
  #mobile-nav-wrapper {
    position: relative;

    &::before {
      content: url("/images/mobile/mobile-nav-bg.svg");
      position: absolute;

      top: 6rem;
      left: 50%;
      transform: translate(-50%);
    }
  }
}

.faq-container {
  margin-bottom: 1rem;
}

#contactForm {
  position: relative;
  padding: 1rem 0;

  &::before {
    content: "";
    background: #1d3047;
    position: absolute;
    z-index: -2;

    bottom: -4rem;
    left: -378px;
    right: -378px;
    top: 0;
    border-radius: 10px;
  }

  &::after {
    // content: url("/images/mobile/mobile-contactform-bg.svg");
    position: absolute;
    bottom: -40px;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
  }
}

.swiper-navigators {
  display: flex;
  justify-content: center;
  position: relative;

  .swiper-pagination {
    width: unset !important;
  }

  .swiper-pagination {
    position: static;
  }
}

.swiper-arrows {
  display: flex;

  div {
    position: static;

    &::after {
      width: 10px;
      margin: 1rem;
    }
  }
}

#productsBg {
  position: relative;
  padding: 1.25rem 0;

  &::before {
    content: "";
    position: absolute;
    left: -60px;
    top: 50%;
    height: 135px;
    transform: translateY(-50%);
    width: 320px;
    z-index: -1;

    background: #fff;
    box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    @media screen and (min-width: 768px) {
      content: unset;
    }
  }
}

#productsBgTwo {
  position: relative;

  &::after {
    content: url("/images/mobile/products-bg.svg");
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);

    @media screen and (min-width: 768px) {
      content: unset;
    }
  }
}

#reviewsQuote {
  position: relative;

  &::before {
    content: url("/images/mobile/reviewsQuote.svg");
    position: absolute;

    top: -60px;
    left: -80px;
    background: #ffffff;
  }
}

#faq-header {
  position: relative;

  &::before {
    content: url("/images/mobile/mobile-faq-bg.svg");
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

@media screen and (min-width: 768px) {
  #heroCtaButton {
    position: relative;

    &::before {
      content: url("/images/hero-cta-bg.svg");
      position: absolute;
      left: 0;
      bottom: -17px;
      z-index: -1;
      overflow: hidden;
      width: 0;
      transition: all 0.2s ease-in-out;
    }

    &:hover::before {
      width: 120%;
    }
  }
}

@media screen and (min-width: 1700px) {
  #calculator {
    margin-right: 90px;
    position: relative;

    &::before {
      content: url("/images/desktop-hero-calculatorbg-left.svg");
      position: absolute;
      left: -210px;
      bottom: 240px;
      z-index: -1;
    }

    &::after {
      content: url("/images/desktop-hero-calculatorbg-right.svg");
      position: absolute;
      top: -110px;
      right: -100px;
      z-index: -1;
    }
  }
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  #about-images {
    background: url("/images/aboutUs/hero-mobile-bg.svg") no-repeat bottom;
  }

  #ad-cards-wrapper {
    position: relative;
    z-index: 4;

    &::after {
      height: 100%;
      width: 140px;
      content: url("/images/aboutUs/ad-cards-mobile-bg.svg");
      top: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    &::before {
      height: 100%;
      width: 140px;
      content: url("/images/aboutUs/ad-cards-mobile-bg2.svg");
      top: 0;
      left: 0;
      position: absolute;
      z-index: -1;
    }
  }

  #benefits-section-dark {
    position: relative;
    z-index: 4;

    &::before {
      height: 84%;
      width: 140px;
      content: "";
      background: url("/images/benefits/benefits-dark-bg-left.svg") no-repeat center bottom;
      bottom: 0;
      left: -1rem;
      position: absolute;
      z-index: -1;
    }

    &::after {
      height: 84%;
      width: 140px;
      content: "";
      background: url("/images/benefits/benefits-dark-bg-right.svg") no-repeat center bottom;
      bottom: 0;
      right: -1rem;
      position: absolute;
      z-index: -1;
    }
  }

  #money_input,
  #year_input {
    font-size: 24px;
    padding-bottom: 6px;
  }
}

#money_input,
#year_input {
  &::placeholder {
    font-size: 24px;
  }
}

.calc-new-span {
  font-size: 16px;
  color: #223146;
  margin-bottom: 1rem;
  display: block;
  margin-top: -10px;
}

@media screen and (min-width: 768px) {
  #kontaktujte-nas-wrapper {
    position: relative;
    z-index: 3;

    &::before {
      z-index: -1;
      position: absolute;
      height: 265px;
      width: 100%;
      max-width: 1920px;
      content: url("/images/centrala/contact-us-bg.svg");
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  #videoTriggerCentrala {
    position: relative;
    z-index: 3;

    &::before {
      position: absolute;
      top: -5rem;
      right: 0;
      content: url("/images/kontakt-kontaktujte/hero-lg.svg");
      z-index: -1;
      height: 100%;
      width: 100%;
      max-width: 700px;
    }
  }

  #offerContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #home-about {
    position: relative;

    & > div {
      &::before {
        content: url("/images/aboutus-bg.svg");
        position: absolute;

        left: -20px;
        top: 50%;
        transform: translateY(-20%);
      }

      &::after {
        content: url("/images/aboutus-bg.svg");
        position: absolute;

        right: -20px;
        top: 50%;
        transform: translateY(-20%);
      }
    }
  }

  #productsWrapper {
    position: relative;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   bottom: 0;
    //   width: 200px;

    //   background: #ffffff;
    //   box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.1);
    //   border-radius: 10px;
    // }

    &::after {
      content: url("/images/products-bg.svg");
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }

  #productsBg {
    &::before {
      content: "";
      position: absolute;
      left: -2060px;
      bottom: 0px;
      right: 0;
      top: 0;
      width: unset;
      height: unset;
      background: #ffffff;
      box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      transform: unset;
    }
  }

  #reviewsQuote::before {
    bottom: 0;
    left: -230px;
    top: unset;
    width: 320px;
    height: 195px;
    display: flex;
  }

  #reviewsWrapper {
    position: relative;

    &::before {
      content: url("/images/reviews-bg-left.svg");
      position: absolute;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
    }

    &::after {
      content: url("/images/reviws-bg-right.svg");
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      z-index: -1;
    }
  }

  #faq-header::before {
    bottom: unset;
    right: 0;
    left: unset;
    transform: unset;
  }

  #faq-header {
    padding: 3rem 0;
    margin-bottom: 3.5rem;
  }

  #contactForm::before {
    bottom: 0;
    left: 0;
    right: -2420px;
  }

  #contactForm {
    padding: 0;

    &::after {
      content: unset;
    }
  }

  #contactFormContainer {
    position: relative;

    &::after {
      position: absolute;
      content: url("/images/contact-form-bg-right.svg");
      right: 0;
      left: unset;
      bottom: unset;
      transform: translateY(-50%);
      top: 50%;
    }

    &::before {
      content: url("/images/contact-form-bg-left.svg");
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  #contactFormWrapper {
    position: relative;

    display: flex;

    input,
    textarea {
      font-size: 20px;

      &::placeholder {
        font-size: 20px;
      }
    }

    input {
      height: 52px;
    }
  }
}

@media screen and (max-width: 768px) {
  #kontaktujte-nas-wrapper {
    background: url("/images/centrala/centrala0kontaktujte-mobile-wrapper-bg.svg") no-repeat center center;
  }

  #centrala-gallery-wrapper {
    position: relative;
    z-index: 2;

    &::after {
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      position: absolute;
      content: url("/images/centrala/centrala-gallery-mobile-bg-top.svg");
      height: 100%;
      width: 100%;
      max-width: 370px;
    }
  }

  #centrala-hero-wrapper {
    position: relative;
    z-index: 2;

    &::after {
      position: absolute;
      content: "";
      bottom: 4rem;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;
      max-width: 370px;
      height: 100%;
      background: url("/images/kontakt-kontaktujte/mobile-hero-bg.svg") no-repeat center bottom;
      z-index: -1;
    }
  }

  #contactFormContainer {
    position: relative;

    &::before {
      content: url("/images/mobile/mobile-contactform-bg-left.svg");
      position: absolute;
      left: -20px;
      top: 80px;
    }

    &::after {
      content: url("/images/mobile/mobile-contactform-bg-right.svg");
      position: absolute;
      right: -20px;
      top: 80px;
      z-index: -1;
    }
  }
}

@media screen and (min-width: 1280px) {
  #topNavBar {
    a {
      position: relative;
    }

    li {
      &:hover {
        border: none;
      }
    }

    a::after {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100%;
      height: 0.15rem;
      background-color: #fcc800;
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    a:hover::after,
    a:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
    }

    li a::after {
      opacity: 1;
      transform: scale(0);
      transform-origin: center;
    }

    li a:hover::after,
    li a:focus::after {
      transform: scale(1);
    }
  }
}

#videoTriggerCentrala,
#videoTriggerKontakt {
  position: relative;
  cursor: pointer;

  svg {
    position: absolute;
    bottom: -15px;
    left: -15px;
  }

  video {
    border-radius: 10px;
  }
}

//hamburger anim
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  transition: bottom 0.075s 0.12s ease,
  transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.075s ease,
  transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

//video popup {
.video-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  background: rgba(0, 0, 0, 0.6);
  display: none;

  &.active {
    display: flex;
  }

  .video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 1000px;
  }

  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  #dofinancovanie-hero-img {
    max-width: 310px;
    right: -50px;
    top: -40px;
  }

  #heroBg {
    position: relative;

    &::before {
      content: url("/images/mobile/dofinancovanie-hero-bg.svg");
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #ctaWrapper {
    padding-top: 2rem;
    padding-bottom: 2.25rem;

    display: flex;
    justify-content: center;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 0.5rem;
      }
    }
  }

  #contact-form.dofinancovanie-form {
    position: relative;
    background: #fff;
    z-index: 2;

    & > div {
      background: #fff;
      border-radius: 10px;
    }

    &::before {
      content: "";
      background: #1e3148;
      position: absolute;
      z-index: -1;
      top: -170px;
      bottom: -140px;
      left: -100px;
      right: -100px;
    }

    &::after {
      content: url("/images/mobile/mobile-dofinancovanie-form-bg.svg.svg");
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -150px;
      z-index: -1;
    }
  }
}

@media screen and (min-width: 768px) {
  #refinancovanieBgHeroTwo {
    position: relative;
    z-index: 3;

    &::before {
      position: absolute;
      content: url("/images/dofinancovanie/dofinancovanie-bg.svg");
      top: 9rem;
      right: 0;
      z-index: -1;
    }
  }

  #dofinancovanieHeroCta {
    position: relative;

    &::after {
      content: url("/images/mobile/dofinancovanie-hover-arrow.svg");

      position: absolute;
      bottom: -30px;
      left: 0;
      overflow: hidden;
      width: 0;
      transition: all 0.4s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  #refinancovanieBgHeroTwo {
    position: relative;

    &::after {
      content: url("/images/dofinancovanieBg.svg");
      position: absolute;
      bottom: -260px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media screen and (min-width: 1024px) {
  #hamburgerAnim {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .chcem-si-pozicat-button {
    position: relative;
    transition: all 0.2s ease-in-out;

    span {
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;

      &:hover {
        transform: translateX(-10px);
      }
    }

    &:hover {
      box-shadow: 6px 6px 11px 0 rgba(237, 64, 54, 0.4);
    }

    &::after {
      content: url("/images/chcem-si-pozicat-arrow.svg");
      position: absolute;
      top: 50%;
      transform: translate(-10px, -50%);
      right: 1rem;
      display: flex;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 1;
    }

    &:hover::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  .big-pozicat-button {
    position: relative;

    span {
      transition: all 0.2s ease-in-out;
      display: inline-block;

      &::after {
        content: url("/images/big-form-button-pozicat.svg");
        position: absolute;
        top: 50%;
        transform: translate(-20px, -50%);
        right: -5rem;
        display: flex;
        display: flex;
        opacity: 0;
        transition: all 0.2s ease-in-out;
        z-index: 1;
      }
    }

    &:hover span {
      transform: translateX(-10px);
    }

    &:hover span::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  .yellow-vypocitat-button {
    position: relative;
    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 6px 6px 11px 0 rgba(252, 200, 0, 0.42);
    }

    span {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
    }

    &::after {
      content: url("/images/arrow-yellow-button.svg");
      position: absolute;
      top: 50%;
      transform: translate(-10px, -50%);
      right: 2rem;
      display: flex;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 1;
    }

    &:hover span {
      transform: translateX(-10px);
    }

    &:hover::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  .yellow-border-button {
    transition: all 0.2s ease-in-out;

    &:hover {
      background: #fcc800;
      color: #223146;
    }
  }

  .form-send-button {
    position: relative;
    transition: all 0.2s ease-in-out;

    span {
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;

      &:hover {
        transform: translateX(-10px);
      }
    }

    &:hover {
      box-shadow: 6px 6px 11px 0 rgba(237, 64, 54, 0.4);
    }

    &::after {
      content: url("/images/form-send-icon.svg");
      position: absolute;
      top: 50%;
      transform: translate(-10px, -50%);
      right: 3rem;
      display: flex;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 1;
    }

    &:hover::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }

  .centrala-button {
    position: relative;
    transition: all 0.2s ease-in-out;

    span {
      transition: all 0.2s ease-in-out;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 3;

      &:hover {
        transform: translateX(-10px);
      }
    }

    &:hover {
      box-shadow: 6px 6px 11px 0 rgba(237, 64, 54, 0.4);
      background-color: #ed4036;
      color: #fff;
    }

    &::after {
      content: url("/images/form-send-icon.svg");
      position: absolute;
      top: 50%;
      transform: translate(-10px, -50%);
      right: 1rem;
      display: flex;
      opacity: 0;
      transition: all 0.2s ease-in-out;
      z-index: 1;
    }

    &:hover::after {
      opacity: 1;
      transform: translate(0, -50%);
    }
  }
}

@media screen and (min-width: 768px) {
  #homeAdCards {
    background: #223146;

    #ad-cards-wrapper {
      margin: 0;
      padding: 2rem 0;
      background: none;
    }
  }
}

@media screen and (min-width: 1800px) {
  .video-hero-contact-container {
    margin-right: 5.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1800px) {
  .main-navbar {
    margin: 0 2rem;
  }

  .calc-wrapper-main {
    margin: 0 2rem;
    width: unset;
  }

  #home-card-section::before {
    content: unset;
  }

  #home-card-section::after {
    content: unset;
  }

  #calc-ad {
    margin: 0 2rem;
    width: unset;
  }

  #home-about > div::before {
    content: url("/images/aboutus-bg.svg");
    content: unset;
  }
  #home-about > div::after {
    content: url("/images/aboutus-bg.svg");
    content: unset;
  }

  #reviewsWrapper::before {
    content: unset;
  }

  #contactFormContainer::before {
    content: unset;
  }

  #contactFormContainer::after {
    content: unset;
  }

  #productsWrapper::after {
    content: unset;
  }

  #refinancovanieBgHeroTwo > div {
    margin: 0 2rem;
    width: unset;
  }

  #dofinancovanie-form #form-right {
    display: none;
  }

  #dofinancovanie-form #form-left {
    display: none;
  }

  #form-content {
    margin: 0 2rem;
  }

  #about-top {
    margin: 0 2rem;
    width: unset;
  }

  #about-who::after {
    content: unset;
  }

  #about-what::after {
    content: unset;
  }

  #contact-hero::after {
    /* content: url("/images/kontakt-kontaktujte/hero-after-bg.svg"); */
    content: unset;
  }
  #contact-form-wrapper-child::after {
    /* content: url("/images/kontakt-kontaktujte/contact-form-right-bg.svg"); */
    content: unset;
  }

  #contact-hero-text::after {
    content: unset;
  }

  #contact-hero-image::after {
    content: unset;
  }

  #personal-wrapper::after {
    content: unset;
  }

  #personal-wrapper::before {
    content: unset;
  }

  #contact-hero {
    margin-right: 2rem;
    margin-left: 2rem;
  }

  #centrala-hero-wrapper {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  #centrala-hero-text::after {
    background: unset;
  }

  #videoTriggerCentrala::before {
    content: unset;
  }
}

.img-upload-wrapper {
  border: 2px solid #FCC800;
  cursor: pointer;

  div {
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &:hover div {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1700px) {
  #topFormNav {
    margin: 0 2rem;
  }

  .form-wrapper {
    margin: 0 2rem;
  }
}

@media screen and (min-width: 768px) {
  #ReviewsWrapper {
    .review {
      & > div > div {
        height: 189px;
      }
    }
  }
}

//background: #FFFFFF;
//box-shadow: 9px 10px 50px 0 rgba(0,0,0,0.15);
//border-radius: 10px;
//font-family: AvenirNext-Medium;
//font-size: 18px;
//color: #223146;
//font-family: Comfortaa-Bold;
//font-size: 35px;
//color: #223146;
//background: #FCC800;
//background: #000000;
.custom-shadow-10 {
  box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.10);
}

.custom-shadow-20 {
  box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.20);
}

.custom-shadow-15 {
  box-shadow: 9px 10px 50px 0 rgba(0, 0, 0, 0.15);
}

.text-success-green {
  color: #43BD12;
}

.default-transition {
  transition: all 200ms ease-in-out;
}

//.big-pozicat-button {
//    position: relative;
//
//    span {
//      transition: all 0.2s ease-in-out;
//      display: inline-block;
//
//      &::after {
//        content: url("/images/big-form-button-pozicat.svg");
//        position: absolute;
//        top: 50%;
//        transform: translate(-20px, -50%);
//        right: -5rem;
//        display: flex;
//        display: flex;
//        opacity: 0;
//        transition: all 0.2s ease-in-out;
//        z-index: 1;
//      }
//    }
//
//    &:hover span {
//      transform: translateX(-10px);
//    }
//
//    &:hover span::after {
//      opacity: 1;
//      transform: translate(0, -50%);
//    }
//  }
@media screen and (max-width: 1280px){
  .ios-min-height {
    min-height:  -webkit-fill-available;
  }
}
