@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

    .input-default {
        @apply border-2 border-secondary hover:border-primary w-full rounded-[10px] focus:border-primary focus:ring-0 focus:drop-shadow-md ;
    }
    .offer-hover-orange {
        @apply border-2 border-orange h-[15rem] flex items-center px-3 rounded-md ml-4 text-orange visible;
    }
    .offer-hover-red {
        @apply border-2 border-dRed h-[15rem] flex items-center px-3 rounded-md text-dRed;
    }
    .offer-hover-yellow {
        @apply border-2 border-primary h-[15rem] flex items-center px-3 rounded-md text-primary ml-4;
    }
    .transition-default {
        @apply transition ease-in-out duration-200;
    }
    .faq-container {
        @apply flex items-center bg-white px-[2rem] rounded-[10px];
    }
    .placeholder-default {
        @apply placeholder:text-[1rem] placeholder:text-secondary/30 placeholder:font-bold placeholder:leading-none;
    }
    .container {
        @apply w-full max-w-[92%] lg:max-w-[1440px] mx-auto;
    }
    .form-container {
        @apply w-full lg:max-w-[1440px] md:ml-auto;
    }
    .label-default {
        @apply font-bold text-[1rem] md:text-[1.125rem] leading-[18px] md:leading-[20px] flex mb-2;
    }
    .form-label {
        @apply md:mb-3 mt-14 text-white hidden md:block md:text-[1.25rem] leading-[23px];
    }
    .form-heading1 {
        @apply text-[2rem] md:text-[4rem] md:leading-[61px] mb-[16px] md:mb-5 font-body;
    }
    .bottom-nav {
        @apply md:translate-y-0 md:flex text-white transition ease-in-out duration-200;
    }
    .custom-radio {
        @apply border-2 border-secondary bg-white text-secondary focus:outline-none focus:ring-0;
    }
    .vl {
        @apply h-[65px] border-l border-secondary/50 ;
    }
}
